FORMAT: 1A
HOST: http://www.google.com

# cs373-idb
**cs373-idb**

# Group Country

## Country Collection [/country]
### List all Countries [GET]
+ Response 200 (application/json)

        [{
          "name": "Southern USA"
        }, {
          "name": "China"
        }, {
          "name": "Mexico"
        }, {
          "name": "Austria"
        }, {
          "name": "Italy"
        }, {
          "name": "India"
        }, {
          "name": "Great Britain"
        }, {
          "name": "France"
        }, {
          "name": "Greece"
        }, {
          "name": "Japan"
        }]

## Country [/country/PK/{PK}]
    A single Country object with its food
    
### Country by PK[GET]
+ Parameters
    + PK (required, integer, `0`) ... Numeric `PK` of the Country to perform action with.

+ Response 200 (application/json)

    + Header

            X-My-Header: The Name

    + Body

            [{ "PK": 0,
            "name": "Southern USA", 
            "description": "Southern USA food is derived from many cultures. 
                    Many items such as squash, tomatoes, corn (and its derivatives, 
                    including grits), as well as the practice of deep pit barbecuing 
                    were inherited from the southeastern American Indian tribes such 
                    as the Caddo, Choctaw, and Seminole. Many foods associated with 
                    sugar, flour, milk, eggs (many kinds of baking or dairy products 
                    such as breads and cheeses) are more associated with Europe. 
                    Black-eyed peas, okra, rice, eggplant, benne (sesame) seed, sorghum, 
                    and melons, as well as the spices can be attributed to peoples 
                    of African origin.",
            "google_map": "https://www.google.com/maps/place/United+States/@36.5834655,-93.1601172,4z/data=!4m2!3m1!1s0x54eab584e432360b:0x1c3bb99243deb742"},
            { "PK": 1,
            "name": "China", 
            "description": "Rice is China's staple food. The Chinese word for rice 
                    is "fan" which also means "meal." Rice may be served with any meal, and 
                    is eaten several times a day. Scallions, bean sprouts, cabbage, and gingerroot
                    are other traditional foods. Soybean curd, called tofu, is an important 
                    source of protein for the Chinese. Although the Chinese generally do not eat 
                    a lot of meat, pork and chicken are the most commonly eaten meats. Vegetables 
                    play a central role in Chinese cooking, too.",
            "google_map": "https://www.google.com/maps/place/China/@35.8574708,104.1361118,4z/data=!3m1!4b1!4m2!3m1!1s0x31508e64e5c642c1:0x951daa7c349f366f"},
            { "PK": 2,
            "name": "Mexico", 
            "description": "Mexican cuisine is primarily a fusion of indigenous 
                    Mesoamerican cooking with European, especially Spanish, elements added 
                    after the Spanish conquest of the Aztec Empire in the 16th century. The 
                    basic staples remain native foods such as corn, beans and chili peppers, 
                    but the Europeans introduced a large number of other foods, the most 
                    important of which were meat from domesticated animals (beef, pork, 
                    chicken, goat and sheep), dairy products (especially cheese) and various 
                    herbs and lots of spices.",
            "google_map": "https://www.google.com/maps/place/Mexico/@23.6266557,-102.5375005,5z/data=!3m1!4b1!4m2!3m1!1s0x84043a3b88685353:0xed64b4be6b099811"},
            { "PK": 3,
            "name": "Austria", 
            "description": "Austrian cuisine is a style of cuisine native to Austria and 
                    composed of influences from throughout the former Austro-Hungarian Empire.
                    Regional influences from Italy, Hungary, Bohemia, Germany and the Balkans 
                    have had an effect on Austrian cooking, and in turn this fusion of styles
                    was influential throughout the Empire.",
            "google_map": "https://www.google.com/maps/place/Austria/@47.6964719,13.3457347,7z/data=!3m1!4b1!4m2!3m1!1s0x476d079b259d2a7f:0x1012d47bdde4c1af"},
            { "PK": 4,
            "name": "Italy", 
            "description": "Italian cuisine is characterized by its simplicity, with many
                    dishes having only four to eight ingredients.[8] Italian cooks rely chiefly 
                    on the quality of the ingredients rather than on elaborate preparation. 
                    Ingredients and dishes vary by region. Many dishes that were once regional, 
                    however, have proliferated with variations throughout the country. In 2013 
                    Italian cuisine was ranked by CNN as the best cuisine in the world.",
            "google_map": "https://www.google.com/maps/place/Italy/@41.29246,12.5736108,6z/data=!3m1!4b1!4m2!3m1!1s0x12d4fe82448dd203:0xe22cf55c24635e6f"},
            { "PK": 5,
            "name": "India", 
            "description": "Indian cuisine encompasses a wide variety of regional cuisines 
                    native to India. Given the range of diversity in soil type, climate and occupations, 
                    these cuisines vary significantly from each other and use locally available spices,
                    herbs, vegetables and fruits. Indian food is also heavily influenced by religious
                    and cultural choices and traditions.",
            "google_map": "https://www.google.com/maps/place/India/@21.1289955,82.7792201,5z/data=!3m1!4b1!4m2!3m1!1s0x30635ff06b92b791:0xd78c4fa1854213a6"},
            { "PK": 6,
            "name": "Great Britain", 
            "description": "British food has traditionally been based on beef, lamb, pork, 
                    chicken and fish and generally served with potatoes and one other vegetable. The
                    most common and typical foods eaten in Britain include the sandwich, fish and 
                    chips, pies like the cornish pasty, trifle and roasts dinners.",
            "google_map": "https://www.google.com/maps/place/United+Kingdom/@55.3617609,-3.4433238,6z/data=!3m1!4b1!4m2!3m1!1s0x25a3b1142c791a9:0xc4f8a0433288257a"},
            { "PK": 7, 
            "name": "France", 
            "description": "Guillaume Tirel Taillevent, a court chef, wrote Le Viandier, one 
                    of the earliest recipe collections of medieval France. During that time, French 
                    cuisine was heavily influenced by Italian cuisine. In the 17th century, chefs 
                    François Pierre La Varenne and Marie-Antoine Carême spearheaded movements that 
                    shifted French cooking away from its foreign influences and developed France's
                    own indigenous style. Cheese and wine are a major part of the cuisine, playing
                    different roles regionally and nationally, with many variations and appellation
                    d'origine contrôlée (AOC) (regulated appellation) laws.",
            "google_map": "https://www.google.com/maps/place/France/@46.71109,1.7191036,6z/data=!3m1!4b1!4m2!3m1!1s0xd54a02933785731:0x6bfd3f96c747d9f7"},
            { "PK": 8,
            "name": "Greece", 
            "description": "Greek cuisine is a Mediterranean cuisine. Contemporary Greek cookery 
                    makes wide use of olive oil, vegetables and herbs, grains and bread, wine, fish, and 
                    various meats, including lamb, poultry, rabbit and pork. Also important are olives, 
                    cheese, eggplant (aubergine), zucchini (courgette), and yogurt. Greek desserts are 
                    characterized by the dominant use of nuts and honey. Some dishes use filo pastry.",
            "google_map": "https://www.google.com/maps/place/Greece/@38.2749497,23.8102717,7z/data=!3m1!4b1!4m2!3m1!1s0x135b4ac711716c63:0x363a1775dc9a2d1d"},
            { "PK": 9,
            "name": "Japan", 
            "description": "The traditional food of Japan is based on rice with miso soup and other 
                    dishes, each in its own utensil, with an emphasis on seasonal ingredients. The side dishes 
                    often consist of fish, pickled vegetables, and vegetables cooked in broth. Fish is common 
                    in the traditional cuisine. It is often grilled, but it may also be served raw as sashimi 
                    or in sushi. Seafood and vegetables are also deep-fried in a light batter as tempura.",
            "google_map": "https://www.google.com/maps/place/Japan/@37.4900318,136.4664008,6z/data=!3m1!4b1!4m2!3m1!1s0x34674e0fd77f192f:0xf54275d47c665244"},]


# Group Recipe

##Recipe Collection [/recipe]
### List all Recipes [GET]
+ Response 200 (application/json)

        [{
            "name": "Southern Fried Chicken"
        }, {
            "name": "Dry-Fried Eggplant"
        }, {
            "name": "Pico de Gallo"
        } {
            "name": "Beef Goulash"
        }, {
            "name": "Chicken Piccata"
        }, {
            "name": "Chicken Tikka Masala"
        }, {
            "name": "Pork and Ham Pie"
        }, {
            "name": "Crepes Suzette"
        }, {
            "name": "Tzatziki"
        }, {
            "name": "Vegetable Sushi"
        },]

## Recipe [/recipe/PK/{PK}]
    Steps of how to make food

###Recipe by name[GET]
+ Parameters
    + PK (required, integer, `0`) ... Numeric PK of the Food to perform action with.

+ Response 200 (application/json)

    + Header

            X-My-Header: The Name

    + Body

            [{ "PK": 0,
            "FK_region" : 0,
            "FK_region" : 0,
            "name": "Southern Fried Chicken", 
            "ingredients": "3 eggs 1/3 cup water
                    About 1 cup hot red pepper sauce (recommended: Texas Pete)
                    2 cups self-rising flour
                    1 teaspoon pepper
                    House seasoning, recipe follows
                    1 (1 to 2 1/2-pound) chicken, cut into pieces
                    Oil, for frying, preferably peanut oil
                    
                    House Seasoning:
                    1 cup salt
                    1/4 cup black pepper
                    1/4 cup garlic powder ", 
            "region": "Southern USA",
            "chef": "Paula Deen",
            "instructions": "1. In a medium size bowl, beat the eggs with the water. Add enough hot sauce so the egg mixture is bright orange. In another bowl, combine the flour and pepper. Season the chicken with the house seasoning. Dip the seasoned chicken in the egg, and then coat well in the flour mixture.
        
                            2. Heat the oil to 350 degrees F in a deep pot. Do not fill the pot more than 1/2 full with oil.
                            
                            3. Fry the chicken in the oil until brown and crisp. Dark meat takes longer then white meat. It should take dark meat about 13 to 14 minutes, white meat around 8 to 10 minutes.
                            
                            4. House Seasoning: Mix ingredients together and store in an airtight container for up to 6 months.",
            "time needed": "1 hour",
            "difficulty": "E",
            "type": "entree"},
            { "PK": 1,
            "FK_region" : 1,
            "FK_region" : 1,
            "name": "Dry-Fried Eggplant", 
            "ingredients": " Vegetable oil, for frying
                            1/2 to 1 teaspoon hot (chinese) chili powder
                            1/2 to 1 teaspoon hot paprika
                            About 6 (1 1/2 pounds total) Chinese (long) eggplants, trimmed, peeled and cut lengthwise into 2- or 3-inch-long, thick "steak" fries (about 8 fries from each eggplant)
                            Water
                            1/2 cup cornstarch
                            Leaves and tender stems from 4 to 6 stems cilantro, coarsely chopped", 
            "instructions": "Heat at least 4 inches of oil in a large, heavy-bottomed pot over medium-high heat until the oil reaches 350 degrees.
                    
                    Place a wire rack over several layers of paper towels.
                    
                    Combine the chili powder and paprika (to taste) in a small bowl.
                    
                    Meanwhile, wet the eggplant fries with a little water. Spread the cornstarch on a rimmed baking sheet.
                    
                    Working in batches, lightly and evenly coat the eggplant fries with the cornstarch, shaking off any excess. Discard any remaining cornstarch.
                    
                    Carefully add about 8 fries at a time to the hot oil; fry for 2 minutes, or until just browned, crisped and tender. Use a Chinese skimmer or slotted spatula to transfer to the rack to drain. Repeat to fry all the eggplant.
                    
                    Transfer the still-warm, crisped eggplant fries to a serving bowl; season with the chili powder-paprika mixture to taste; this dish is supposed 
                    
                    to be spicy, and, if you can stand it, you should use enough of the mixture to color the eggplant fries a reddish-orange. Toss quickly with the cilantro; serve right away.",
            "time needed": "~20 min",
            "difficulty": "E",
            "type": "side"},
            { "PK": 2,
            "FK_region" : 2,
            "FK_chef" : 2,
            "name": "Pico de Gallo", 
            "ingredients": "1 1/2 pounds yellow or red tomatoes, seeded and chopped
                            1 small onion, chopped
                            1/2 cup chopped fresh cilantro leaves
                            3 tablespoons fresh lime juice
                            2 serrano chiles*, seeded and minced
                            Pinch kosher salt and fresh ground black pepper", 
            "instructions": "Add all the ingredients to a medium bowl, and toss to combine.
                            Cover and chill until ready to serve. This salsa can be made 4 hours ahead.",
            "time needed": "40 min",
            "difficulty": "E",
            "type": "side"},
            { "PK": 3,
            "FK_region" : 3,
            "FK_chef" : 3,
            "name": "Beef Goulash", 
            "ingredients": "2 tablespoons extra virgin olive oil
                            4 cups onions, thinly sliced
                            1 tablespoon sugar
                            3 garlic cloves, minced
                            1 tablespoon caraway seeds, toasted and ground
                            1 1/2 tablespoons sweet paprika
                            1 teaspoon spicy paprika
                            2 tablespoons minced fresh marjoram leaves
                            1 teaspoon minced fresh thyme leaves
                            1 bay leaf
                            3 tablespoons tomato paste
                            2 tablespoons balsamic vinegar
                            4 cups chicken stock
                            2 1/2 pounds beef shank, cut into 2-inch cubes
                            1 teaspoon kosher salt
                            1/4 teaspoon freshly ground black pepper
                            Spaetzle, recipe follows
                            Spaetzle:
                            4 egg yolks
                            1 egg
                            1 3/4 cups milk
                            1 pound (about 3 cups) all purpose flour
                            1/4 teaspoon freshly grated nutmeg
                            1 teaspoon salt
                            1/4 teaspoon freshly ground pepper
                            1/2 cup peanut oil
                            Salt
                            Pepper
                            2 ounces unsalted butter", 
            "instructions": "In a large saute pan, heat the olive oil and saute the onions and sugar until caramelized. Add the garlic and caraway seed. 
            
                            Cook for 1 minute. Add the sweet and sharp paprika, marjoram, thyme, and bay leaf. Saute another minute, until fragrant. Add the tomato paste. 
                            
                            Deglaze with the vinegar and the stock and add the pieces of beef shank, salt, and pepper. Bring to a boil, then lower to a simmer and cook until very tender, about 1 1/2 hours, stirring occasionally.

                            Taste and adjust seasoning with salt and pepper. Serve with Spaetzle on the side.
                            
                            Spaetzle:
                            
                            In a small bowl, beat together the egg yolks, egg and milk. In a medium bowl, combine the flour, nutmeg, salt, and pepper.
                            
                            Add the egg mixture to the flour mixture and mix with hand until well blended. Do not overmix at this stage. Cover the bowl and refrigerate. Allow the batter to rest for at least 1 hour.
                            
                            Bring salted water to a boil. Place a perforated hotel pan on top of the pot. Place the batter on the pan and force through the holes to form spaetzle. Cook for 4 to 5 minutes, or until al dente. Transfer cooked spaetzle to a bowl of ice water to shock. When cool to the touch, drain well. Stir in half the oil. (At this point you can cover and refrigerate up to 2 days).
                            
                            Over high heat, place a large saute pan until it gets very hot. Add the remaining 1/4 cup of oil and the boiled spaetzle. Saute until golden. Season, to taste, with salt and pepper. Finish with butter and sprinkle with parsley.",
            "time needed": "4 hr 5 min",
            "difficulty": "H",
            "type": "entree"},
            { "PK": 4,
            "FK_region" : 4,
            "FK_chef" : 4,
            "name": "Chicken Piccata", 
            "ingredients": "2 skinless and boneless chicken breasts, butterflied and then cut in half
                            Sea salt and freshly ground black pepper
                            All-purpose flour, for dredging
                            6 tablespoons unsalted butter
                            5 tablespoons extra-virgin olive oil
                            1/3 cup fresh lemon juice
                            1/2 cup chicken stock
                            1/4 cup brined capers, rinsed
                            1/3 cup fresh parsley, chopped", 
            "instructions": "Season chicken with salt and pepper. Dredge chicken in flour and shake off excess.

                            In a large skillet over medium high heat, melt 2 tablespoons of butter with 3 tablespoons olive oil. When butter and oil start to sizzle, add 2 pieces of chicken and cook for 3 minutes. When chicken is browned, flip and cook other side for 3 minutes. Remove and transfer to plate. Melt 2 more tablespoons butter and add another 2 tablespoons olive oil. When butter and oil start to sizzle, add the other 2 pieces of chicken and brown both sides in same manner. Remove pan from heat and add chicken to the plate.
                            
                            Into the pan add the lemon juice, stock and capers. Return to stove and bring to boil, scraping up brown bits from the pan for extra flavor. Check for seasoning. Return all the chicken to the pan and simmer for 5 minutes. Remove chicken to platter. Add remaining 2 tablespoons butter to sauce and whisk vigorously. Pour sauce over chicken and garnish with parsley.",
            "time needed": "40 min",
            "difficulty": "E",
            "type": "entree"},
            { "PK": 5,
            "FK_region" : 5,
            "FK_chef" : 5,
            "name": "Chicken Tikka Masala", 
            "ingredients": "Marinade:
                            1 cup plain yogurt, whisked until smooth
                            3 tablespoons Ginger-Garlic Paste, recipe follows (or 1 tablespoon grated fresh ginger and 3 cloves garlic put through a garlic press or finely minced)
                            1 teaspoon kosher salt
                            1/2 teaspoon freshly ground black pepper
                            1 pound boneless, skinless chicken thighs, poked with a fork, and cut into large bite-sized chunks
                            Sauce:
                            2 teaspoons olive oil
                            3 tablespoons butter
                            1/3 cup Ginger-Garlic Paste, recipe follows (or 6 cloves garlic and 2-inch thumb ginger minced)
                            2 serrano peppers, minced (seeds removed if you don't want it spicy)
                            2 tablespoons tomato paste
                            1 teaspoon garam masala
                            2 teaspoons paprika
                            8 Roma tomatoes, diced
                            1 1/2 teaspoons kosher salt
                            1 to 2 cups water
                            Oil, for grilling
                            1 tablespoon dried fenugreek leaves (optional)
                            1/2 cup heavy cream
                            Minced fresh cilantro, for garnish
                            Cooked rice, naan, or crusty piece of bread, for serving
                            Ginger-Garlic Paste:
                            1/2 cup cloves garlic, whole
                            1/2 cup fresh ginger, peeled, cut into 1/2-inch slices
                            1/4 cup canola oil", 
            "instructions": "Sauce:
                            For the marinade: In a large bowl, mix together the marinade ingredients. Add the chicken and toss to coat. Marinate at least 30 minutes, or in the refrigerator up to overnight.
                            
                            For the sauce: When you're ready to make the curry, place a large skillet over medium heat and add the olive oil and butter. When the butter has melted, add the Ginger-Garlic Paste and serrano peppers. Saute until lightly browned around the edges. Add the tomato paste and cook until the tomato has darkened in color, about 3 minutes. Add the garam masala and the paprika and saute for about 1 minute to draw out their flavors.
                            
                            Add the tomatoes, salt, and 1 cup water. Bring to a boil, turn down to a simmer, and cook until thickened, about 20 minutes. You may need more water depending on how much liquid the tomatoes give off.
                            
                            Meanwhile, fire up your grill. When it is nice and hot, lightly brush it with oil. Place the chicken on the grill, shaking off some of the excess marinade. Cook until it's charred, about 2 minutes on each side. (Don't worry that the chicken will still be a little uncooked, it finishes cooking in the sauce).
                            
                            Pour the sauce into a blender or food processor, or use an immersion blender, and process until smooth. Pour back into the skillet and bring back up to a boil. Add the chicken and fenugreek leaves, if using. Take the heat down to a simmer and cook for about 10 minutes. Add the cream and stir through. Garnish with minced fresh cilantro, and serve over rice, with naan, or a crusty piece of bread!
                            
                            Ginger-Garlic Paste:
                            Throw the garlic, ginger, and canola oil in a mini-food processor and let it go until it forms a semi-smooth paste. There will still be tiny little pieces in there, but overall, it should resemble a paste.
                            
                            Save what you don't use in a small glass jar. It should last in the fridge for 2 to 3 weeks. It's a delicious addition to marinades, pasta sauces, stir fry sauces, slow-cooker recipes, gravy etc. We always had a jar of this stuff in our fridge growing up.",
            "time needed": "1 hr 25 min",
            "difficulty": "E",
            "type": "entree"},
            { "PK": 6,
            "FK_region" : 6,
            "FK_chef" : 6,
            "name": "Pork and Ham Pie", 
            "ingredients": "6 eggs
                            400g minced pork
                            200g good-quality pork sausagemeat
                            140g cooked ham meat (see know-how), chopped into small chunks
                            small handful sage leaves
                            1 small onion, finely chopped
                            few shakes Tabasco sauce
                            2 leaves gelatine (optional, see Know-how)
                            For the pastry
                            100g lard, plus extra for greasing
                            450g plain flour, plus extra for dusting
                            4 tbsp milk
                            1 egg, beaten", 
            "instructions": "Bring a large pan of salted water to the boil, then boil the eggs for exactly 7½ mins. Cool in cold water, peel and set aside. Tip the pork, sausagemeat, ham, sage and onion into a large bowl. Season generously and add a few shakes of Tabasco. Mix well with your hands until completely combined. Take about 1 tbsp of the mix, shape into a small burger and fry in a pan. Taste for seasoning. Slightly over-seasoned is perfect.
                            Melt a few tbsps lard, brush a 1-litre terrine dish with an even layer of the melted fat, then dust with flour. To make the pastry, tip the flour into a bowl with 2 tsp salt. Put the lard and milk into a pan with 150ml water, then heat until the lard has completely melted. Pour into the flour and beat with a wooden spoon until combined. Tip onto the surface and knead until it all comes together.
                            Cut a piece of baking parchment to fit the bottom and long sides of the terrine dish with some hanging over the edge. Take about two-thirds of the pastry dough and shape it into a rectangle roughly the width and length of the dish. Lay the dough into the terrine and, using your fingers, press it into the bottom, the corners and up the sides of the dish until it comes to the top and hangs over the rim a little.
                            Take half the meat mixture and pat it into a shape that will fit the terrine dish, then lay it in. Use your fingers to make a trench down the middle of the meat. Trim the tops and bottoms off the eggs, lay them, in a row, along the trench, then season. Trimming the eggs like this ensures that each slice of pie will contain both egg white and yolk.
                            Take the rest of the meat mixture, pat it out to a rectangle that will fit over the eggs, and press it over the top. Brush the overhang of the pastry with the beaten egg, then roll out the rest of the pastry to fit over the pie.
                            Pinch edges together to fix the top. Brush top generously with egg and pierce three holes along the top. Heat oven to 200C/fan 180C/gas 6. Place pie on a baking sheet and bake for 30 mins. Lower the heat to 180C/fan 160C/gas 4, then continue to cook for another hour. Leave to cool. Carefully turn dish upside-down onto a board and use the sides of the paper to pull the pie out of the dish. If sides aren’t brown enough, return it to the oven on a baking tray at 200C/fan 180C/gas 6 until coloured. Cool, then chill in the fridge.
                            If you want to fill the pie with jelly, soak the gelatine in cold water and warm the stock until hot, but not simmering. Remove the gelatine from the water and squeeze to remove excess liquid, then stir into the stock to dissolve. Leave to cool to room temperature, then transfer to a squeezy bottle. Pour the jelly into one of the holes until it comes to the top. Place the pie on a dish in the fridge until the jelly has set, then repeat twice more, so the jelly has filled each hole. Leave to set in the fridge overnight.",
            "time needed": "2 hr 45 min",
            "difficulty": "H",
            "type": "entree"},
            { "PK": 7, 
            "FK_region" : 7,
            "FK_chef" : 7,
            "name": "Crepes Suzette", 
            "ingredients": "CRÊPES
                            2 large eggs
                            3/4 cup all-purpose flour
                            1/2 cup milk
                            1/8 teaspoon salt
                            1/2 teaspoon sugar
                            1/3 cup cold water
                            1 tablespoon canola oil
                            1 tablespoon melted unsalted butter, plus more butter for the skillet", 
            "instructions": "In a medium bowl, whisk together the eggs, flour, milk, salt and sugar until smooth; the batter will be thick. Whisk in the water, oil and melted butter.
                            Heat a 6-inch crêpe pan or nonstick skillet and rub with a little butter. Add 2 tablespoons of the batter and tilt the skillet to distribute the batter evenly, pouring any excess batter back into the bowl. Cook over moderately high heat until the edges of the crêpe curl up and start to brown, 45 seconds. Flip the crêpe and cook for 10 seconds longer, until a few brown spots appear on the bottom. Tap the crêpe out onto a baking sheet . Repeat with the remaining batter to make 12 crêpes, buttering the skillet a few times as necessary.
                            In a mini food processor, blend the 6 tablespoons of butter with 1/4 cup of the sugar and the orange zest. With the machine on, gradually add the orange juice until incorporated.
                            Preheat the broiler. Butter a large rimmed baking sheet and sprinkle lightly with sugar. Place 2 rounded teaspoons of the orange butter in the center of each crêpe. Fold the crêpes in half and in half again to form triangles; arrange on the prepared baking sheet, pointing them in the same direction and overlapping slightly. Sprinkle with the remaining 2 tablespoons of sugar and broil on the middle shelf of the oven until they begin to caramelize, about 2 minutes. Using a long spatula, transfer the crêpes to a heatproof platter.
                            Meanwhile, in a small saucepan, heat the Grand Marnier and cognac. Ignite carefully with a long-handled match and pour the flaming mixture over the crêpes. Tilt the platter and, with a spoon, carefully baste the crêpes until the flames subside. Serve right away.",
            "time needed": "45 min",
            "difficulty": "M",
            "type": "dessert"},
            { "PK": 8,
            "FK_region" : 8,
            "FK_chef" : 8,
            "name": "Tzatziki", 
            "ingredients": "1 pound (1 pint) plain yogurt (whole milk or low fat)
                            1 hothouse cucumber, unpeeled and seeded
                            1 tablespoon plus 1/2 teaspoon kosher salt
                            1/2 cup sour cream
                            1 tablespoon Champagne vinegar or white wine vinegar
                            2 tablespoons freshly squeezed lemon juice (1 lemon)
                            1 tablespoon good olive oil
                            1 1/2 teaspoons minced garlic
                            1 1/2 teaspoons minced fresh dill
                            Pinch freshly ground black pepper", 
            "instructions": "Place the yogurt in a cheesecloth or paper towel-lined sieve and set it over a bowl. Grate the cucumber and toss it with 1 tablespoon of kosher salt; place it in another sieve, and set it over another bowl. Place both bowls in the refrigerator for 3 to 4 hours so the yogurt and cucumber can drain.
                            Transfer the thickened yogurt to a large bowl. Squeeze as much liquid from the cucumber as you can and add the cucumber to the yogurt. Mix in the sour cream, vinegar, lemon juice, olive oil, garlic, dill, 1/2 teaspoon salt, and pepper. You can serve it immediately, but I prefer to allow the tzatziki to sit in the refrigerator for a few hours for the flavors to blend. Serve chilled or at room temperature.",
            "time needed": "19 min",
            "difficulty": "E",
            "type": "side"},
            { "PK": 9,
            "FK_region" : 9,
            "FK_chef" : 9,
            "name": "Vegetable Sushi", 
            "ingredients": "For the rice:
                            3 cups short-grain Japanese rice, rinsed
                            1/3 cup rice vinegar
                            3 tablespoons sugar
                            Salt
                            For the rolls:
                            10 nori sheets (dried seaweed), halved
                            Sesame seeds, for sprinkling
                            1 cucumber
                            1 avocado
                            1 plum tomato, seeded
                            1 small red onion
                            20 asparagus spears, trimmed and blanched
                            Wasabi paste, for spreading and serving
                            1 romaine lettuce heart
                            Pickled ginger, for serving", 
            "instructions": "Make the rice. Combine the rice and 3 1/4 cups water in a rice cooker and cook according to the manufacturer's instructions. A rice cooker is the best way to get perfect sticky-firm rice, but if you don't have one, just use a saucepan.

                            1. Fold in the vinegar. Combine the vinegar, sugar and 1 teaspoon salt in a saucepan over medium heat, stirring to dissolve the sugar. Transfer the cooked rice to a large wooden bowl (traditionally, a wooden tub). Drizzle a quarter of the vinegar mixture over a wooden spoon or spatula onto the rice. Fold the rice gently with the spoon to cool it and break up any clumps; be careful not to smash the grains. Fold in the remaining vinegar mixture and let the rice sit 5 minutes.
                            
                            2. Spread the rice. Cover a bamboo sushi mat with plastic wrap. Place a half nori sheet rough-side up on the mat. Moisten your hands and scoop a handful of rice, slightly larger than a lemon, onto the nori. Press the rice to spread it evenly up to the edges of the nori, moistening your fingers as you go. Sprinkle with sesame seeds.
                            
                            3. Prepare the vegetables. Peel the cucumber and slice into matchsticks. (Morimoto cuts the entire cucumber into a paper-thin sheet, then quickly slices it into strips-but he's had some practice.) Thinly slice the avocado, tomato and red onion; peel the tough ends of the asparagus.
                            
                            4. Add the filling. Carefully flip over the nori so it's rice-side down on the mat with the short end facing you. Spread a bit of wasabi paste in a line about one-third of the way up the nori-it's spicy, so use it sparingly. Arrange a few pieces each of lettuce, cucumber, avocado, tomato and onion in a tight pile in the lower third of the sheet. It's OK if the vegetables hang over the edges of the nori.
                            
                            5. Roll the sushi. Roll the sushi away from you with your hands, tucking in the vegetables as you go. Remove the mat from under the roll and place it on top. Press the roll into a compact rectangular log, using the mat to help you.
                            
                            6. Slice the roll. Cut the sushi roll into 4 to 6 pieces. Repeat with the remaining nori, rice and vegetables. Serve with pickled ginger and more wasabi.",
            "time needed": "1 hr 20 min",
            "difficulty": "M",
            "type": "entree"}]
            
# Group Chef

##Chef Collection [/chef]
### List all Chefs [GET]
+ Response 200 (application/json)

        [{
            "name": "Paula Deen"
        }, {
            "name": "Peter Chang"
        }, {
            "name": "Marcela Valladolid"
        }, {
            "name": "Wolfgang Puck"
        }, {
            "name": "Giada De Laurentiis"
        },{
            "name": "Aarti Sequeira"
        },{
            "name": "Gordon Ramsay"
        },{
            "name": "Jacques Pepin"
        },{
            "name": "Michael Psilakis"
        },{
            "name": "Masaharu Morimoto"
        },]

## Chef [/chef/PK/{PK}]
    Chef of each country

###Chef by PK[GET]
+ Parameters
    + PK (required, integer, `0`) ... Numeric PK of the Food to perform action with.

+ Response 200 (application/json)

    + Header

            X-My-Header: The Name

    + Body

            [{ "PK": 0,
            "FK_region" : 0,
            "name": "Paula Deen", 
            "birth_place": Albany, Georgia, U.S.,
            "birth_date": "19 January 1947",
            "youtube":"https://www.youtube.com/watch?v=ogknIyLESHc",
            "twitter": "https://twitter.com/Paula_Deen"
            "bio":Paula Ann Hiers Deen is an American celebrity chef and cooking show television host. 
                    Deen resides in Savannah, Georgia, where she owns and operates The Lady & Sons 
                    restaurant with her sons, Jamie and Bobby Deen. She has published fourteen cookbooks. 
                    Though married in 2004 to Michael Groover, she uses the surname Deen, from her first marriage},
            { "PK": 1,
            "FK_region" : 1,
            "name": "Peter Chang", 
            "birth_place":,
            "birth_date": "1990",
            "youtube": "http://www.youtube.com/watch?v=dsffikBdjz8",
            "twitter": "https://twitter.com/sichuanboy"'
            "bio": "Peter Chang is an award winning chef specializing in Szechwan cuisine who has cooked 
                    for restaurants in the American southeast. Chang was born in Hubei Province and trained in 
                    China, and cooked a meal for the Chinese president, Hu Jintao.[1] He moved to the United States 
                    to work as the chef at the Chinese Embassy in Washington, D.C.[1] In the past, Chang has disappeared
                    and left restaurants, inspiring a group of fans to follow his movement in Internet discussion boards, 
                    such as DonRockwell.com and Chowhound."},
            { "PK": 2,
            "FK_region" : 2,
            "name": "Marcela Valladolid", 
            "birth_place": "San Diego, California",
            "birth_date": "19 July 1978",
            "youtube": "http://www.youtube.com/watch?v=OePrgATo0f4",
            "twitter": "https://twitter.com/chefmarcela",
            "bio": "Marcela Luz Valladolid is an American chef and author. She is the host of the Food Network television 
                    series Mexican Made Easy, and a co-host of the Food Network television series The Kitchen."},
            { "PK": 3,
            "FK_region" : 3,            
            "name": "Wolfgang Puck", 
            "birth_place": "Sankt Veit an der Glan, Austria",
            "birth_date": "8 July 1949",
            "youtube":"http://www.youtube.com/watch?v=Gc6B_N4eRoA",
            "twitter": "https://twitter.com/WolfgangBuzz"
            "bio": "Wolfgang Johannes Puck (born Wolfgang Johannes Topfschnig; July 8, 1949) is an Austrian-born American 
                    celebrity chef, restaurateur, and occasional actor. Wolfgang Puck restaurants, catering services, cookbooks 
                    and licensed products are run by Wolfgang Puck Companies, with three divisions."},
            { "PK": 4,
            "FK_region" : 4,
            "name": "Giada De Laurentiis", 
            "birth_place": "Rome, Italy",
            "birth_date": "22 August 1970",
            "youtube":"http://www.youtube.com/watch?v=nI8DlJ_4MV0",
            "twitter": "https://twitter.com/GDeLaurentiis",
            "bio": "Giada Pamela De Laurentiis (Italian pronunciation: [ˈdʒaːda de lauˈrentis]; born August 22, 1970) is an 
                    Italian-born American chef, writer, television personality, and the host of the current Food Network television 
                    program Giada at Home. She also appears regularly as a contributor and guest co-host on NBC's Today. De Laurentiis
                    is the founder of the catering business GDL Foods.[1] She is a winner of the Daytime Emmy Award for Outstanding 
                    Lifestyle Host,[2] and in 2012 was inducted into the Culinary Hall of Fame."},
            { "PK": 5,
            "FK_region" : 5,
            "name": "Aarti Sequeira", 
            "birth_place": "Mumbai, India",
            "birth_date": "19 August 1978",
            "youtube": "http://www.youtube.com/watch?v=3LFFpAD15Y8",
            "twitter": "https://twitter.com/aartipaarti",
            "bio": "Aarti Sequeira is an Indian chef and television personality, best known as the winner of the sixth season 
                    of Food Network's reality television show, The Next Food Network Star.[1] As a result of that victory, her show 
                    Aarti Party premiered on the network on August 22, 2010. She had previously worked as a CNN news producer and in
                    2008 started the online cooking variety show Aarti Paarti. She currently hosts another cooking show, Taste in 
                    Translation,[1] in which she seeks the most popular dishes from around the world."},
            { "PK": 6,
            "FK_region" : 6,
            "name": "Gordon Ramsay", 
            "birth_place": "Johnstone, Renfrewshire, Scotland",
            "birth_date": "8 November 1966",
            "youtube": "https://www.youtube.com/watch?v=fETZCWvzkWM",
            "twitter": "https://twitter.com/GordonRamsay",
            "bio": "Gordon James Ramsay, Jr. /ˈræm.ziː/, OBE (born 8 November 1966) is a Scottish celebrity chef, restaurateur, 
                    and television personality.[1] His restaurants have been awarded 15 Michelin stars in total and currently hold 
                    14. His signature restaurant, Restaurant Gordon Ramsay in Chelsea, London has held 3 Michelin stars since 2001.
                    Ramsay is known for presenting TV programmes about competitive cookery and food, such as the British series Hell's 
                    Kitchen, The F Word, and Ramsay's Kitchen Nightmares, along with the American versions of Hell's Kitchen, Kitchen 
                    Nightmares, MasterChef, and Masterchef Junior."},
            { "PK": 7,
            "FK_region" : 7,
            "name": "Jacques Pepin", 
            "birth_place": "Bourg-en-Bresse, France",
            "birth_date": "18 December 1935",
            "youtube": "http://www.youtube.com/watch?v=Ysm-LEEb_K4",
            "twitter": "https://twitter.com/jacques_pepin"'
            "bio": "Jacques Pépin (born December 18, 1935)[1] is an internationally recognized French chef, television personality, 
                    and author working in the United States. Since the late 1980s, he has appeared on French and American television and 
                    written an array of cookbooks that have become best sellers."},
            { "PK": 8,
            "FK_region" : 8,
            "name": "Michael Psilakis", 
            "birth_place": "New York City, NY",
            "birth_date": "1968",
            "youtube":"http://www.youtube.com/watch?v=mIYCManR3Ec",
            "twitter": "https://twitter.com/MPsilakis",
            "bio":"Michael Psilakis is a Greek-American New York City restaurateur best known for his appearances on television shows 
                    including Ultimate Recipe Showdown, Iron Chef America, The Best Thing I Ever Ate and No Kitchen Required.[1] He had 
                    owned and operated a number of popular restaurants around New York and has cooked for President Barack Obama at the White House."},
            { "PK": 9,
            "FK_region" : 9,
            "name": "Masaharu Morimoto", 
            "birth_place": "Hiroshima, Japan",
            "birth_date": "1955",
            "youtube": "https://www.youtube.com/watch?v=WmaTpRuQFTE",
            "twitter": "https://twitter.com/chef_morimoto",
            "bio": "Masaharu Morimoto (森本 正治 Morimoto Masaharu?, born May 26, 1955, in Hiroshima, Japan) is a Japanese chef, 
                    best known as an Iron Chef on the Japanese TV cooking show Iron Chef and its spinoff Iron Chef America. He is also known for his unique
                    style of presenting food. Morimoto received practical training in sushi and traditional Kaiseki cuisine in Hiroshima, and opened his own 
                    restaurant in that city in 1980. Influenced by Western cooking styles, he decided to sell his restaurant in 1985 to travel around the 
                    United States. His travels further influenced his fusion style of cuisine. He established himself in New York City and worked in some
                    of Manhattan's prestigious restaurants, including the dining area for Sony Corporation's executive staff and visiting VIPs, the Sony Club, 
                    where he was executive chef, and at the exclusive Japanese restaurant Nobu, where he was head chef. While at Nobu he got his start on 
                    the Iron Chef television show. Several months after the weekly run of Iron Chef ended in 1999, he left Nobu, eventually opening his 
                    own Morimoto restaurant in Philadelphia in 2001. He now has a Morimoto restaurant in Chelsea in New York City. For this New York City 
                    restaurant it has architecturally exposed concrete, a signature element of Tadao Ando’s work, is dramatically visible in a series.
                    Alongside Tadao Ando and collaboration with Goto Design Group, the structural engineers who took on this project was Leslie E. Robertson 
                    Associates. Mr. Morimoto also has restaurants in Mumbai and New Delhi, called "Wasabi" and another Morimoto in Boca Raton, Florida. 
                    He also partnered with businessmen Paul Ardaji, Jr., and Paul Ardaji, Sr., in an Asian bistro venture called Pauli Moto's; the initial 
                    branch opened in Tyson's Corner, Virginia but has since closed.[2] Morimoto also owns Morimoto XEX in Tokyo that has a Teppanyaki and 
                    a sushi floor. Morimoto XEX received a Michelin star in the recent Tokyo Michelin Guide.[3] Morimoto currently appears as an Iron Chef 
                    in Iron Chef America, a spinoff from the original Japanese Iron Chef series. "}]

+ Response 404



