FORMAT: 1A
HOST: http://www.google.com

# cs373-idb
**cs373-idb**

# Group Country

## Country Collection [/country]
### List all Countries [GET]
+ Response 200 (application/json)

        [{
          "name": "Southern USA"
        }, {
          "name": "China"
        }, {
          "name": "Mexico"
        }, {
          "name": "Austria"
        }, {
          "name": "Italy"
        }, {
          "name": "India"
        }, {
          "name": "Great Britain"
        }, {
          "name": "France"
        }, {
          "name": "Greece"
        }, {
          "name": "Japan"
        }]

## Country [/country/name/{name}]
    A single Country object with its food
    
### Country by name[GET]
+ Parameters
    + name (required, string, `China`) ... Numeric `name` of the Country to perform action with.

+ Response 200 (application/json)

    + Header

            X-My-Header: The Name

    + Body

            [{ "name": "America", 
            "description": "Something about American food",
            "location": "North America", 
            "picture": "http://A.picture" },
            { "name": "China", 
            "description": "Something about Chinese food",
            "location": "Asia", 
            "picture": "http://C.picture" },
            { "name": "Mexican", 
            "description": "Something about Mexican food",
            "location": "North America", 
            "picture": "http://M.picture" }]


# Group Recipe

##Recipe Collection [/recipe]
### List all Recipes [GET]
+ Response 200 (application/json)

        [{
            "name": "Southern Fried Chicken"
        }, {
            "name": "Dry-Fried Eggplant"
        }, {
            "name": "Pico de Gallo"
        } {
            "name": "Beef Goulash"
        }, {
            "name": "Chicken Piccata"
        }, {
            "name": "Chicken Tikka Masala"
        }, {
            "name": "Pork and Ham Pie"
        }, {
            "name": "Crepes Suzette"
        }, {
            "name": "Tzatziki"
        }, {
            "name": "Vegetable Sushi"
        },]

## Recipe [/recipe/name/{name}]
    Steps of how to make food

###Recipe by name[GET]
+ Parameters
    + name(required, string, `pizza`) ... Numeric `name` of the Food to perform action with.

+ Response 200 (application/json)

    + Header

            X-My-Header: The Name

    + Body

            [{ "name": "f1", 
            "ingredients": "A", 
            "region": ,
            "chef": ,
            "instructions": "first..",
            "time needed": "1 hour",
            "difficulty": "easy",
            "type": "dessert",
            "picture": "http://f1.picture" },
            { "name": "Dry-Fried Eggplant", 
            "ingredients": " Vegetable oil, for frying
                            1/2 to 1 teaspoon hot (chinese) chili powder
                            1/2 to 1 teaspoon hot paprika
                            About 6 (1 1/2 pounds total) Chinese (long) eggplants, trimmed, peeled and cut lengthwise into 2- or 3-inch-long, thick "steak" fries (about 8 fries from each eggplant)
                            Water
                            1/2 cup cornstarch
                            Leaves and tender stems from 4 to 6 stems cilantro, coarsely chopped", 
            "region": China,
            "chef": Peter Chang,
            "instructions": "Heat at least 4 inches of oil in a large, heavy-bottomed pot over medium-high heat until the oil reaches 350 degrees.
                    
                    Place a wire rack over several layers of paper towels.
                    
                    Combine the chili powder and paprika (to taste) in a small bowl.
                    
                    Meanwhile, wet the eggplant fries with a little water. Spread the cornstarch on a rimmed baking sheet.
                    
                    Working in batches, lightly and evenly coat the eggplant fries with the cornstarch, shaking off any excess. Discard any remaining cornstarch.
                    
                    Carefully add about 8 fries at a time to the hot oil; fry for 2 minutes, or until just browned, crisped and tender. Use a Chinese skimmer or slotted spatula to transfer to the rack to drain. Repeat to fry all the eggplant.
                    
                    Transfer the still-warm, crisped eggplant fries to a serving bowl; season with the chili powder-paprika mixture to taste; this dish is supposed to be spicy, and, if you can stand it, you should use enough of the mixture to color the eggplant fries a reddish-orange. Toss quickly with the cilantro; serve right away.",
            "time needed": "~20 min",
            "difficulty": "E",
            "type": "side",
            "picture": "http://www.washingtonpost.com/rf/image_600w/2010-2019/WashingtonPost/2012/01/14/Food/Images/FDwine25006_1326565800.jpg" },]
            
# Group Chef

##Chef Collection [/chef]
### List all Chefs [GET]
+ Response 200 (application/json)

        [{
            "name": "Paula Deen"
        }, {
            "name": "Peter Chang"
        }, {
            "name": "Marcela Valladolid"
        }, {
            "name": "Wolfgang Puck"
        }, {
            "name": "Giada De Laurentiis"
        },{
            "name": "Aarti Sequeira"
        },{
            "name": "Gordon Ramsay"
        },{
            "name": "Jacques Pepin"
        },{
            "name": "Michael Psilakis"
        },{
            "name": "Masaharu Morimoto"
        },]

## Chef [/chef/name/{name}]
    Chef of each country

###Chef by name[GET]
+ Parameters
    + name(required, string, `Tom`) ... Numeric `name` of the Chef to perform action with.

+ Response 200 (application/json)

    + Header

            X-My-Header: The Name

    + Body

            [{ "name": "Paula Deen", 
            "region": "Southern USA,
            "birth_place": Albany, Georgia, U.S.,
            "birth_date": "19 January 1947",
            "youtube":"https://www.youtube.com/watch?v=ogknIyLESHc",
            "twitter": "https://twitter.com/Paula_Deen"
            "bio":Paula Ann Hiers Deen is an American celebrity chef and cooking show television host. 
                    Deen resides in Savannah, Georgia, where she owns and operates The Lady & Sons 
                    restaurant with her sons, Jamie and Bobby Deen. She has published fourteen cookbooks. 
                    Though married in 2004 to Michael Groover, she uses the surname Deen, from her first marriage},
            { "name": "Peter Chang", 
            "region": "China",
            "birth_place":,
            "birth_date": "1990",
            "youtube":,
            "twitter": "https://twitter.com/sichuanboy"
            "bio": "Peter Chang is an award winning chef specializing in Szechwan cuisine who has cooked 
                    for restaurants in the American southeast. Chang was born in Hubei Province and trained in 
                    China, and cooked a meal for the Chinese president, Hu Jintao.[1] He moved to the United States 
                    to work as the chef at the Chinese Embassy in Washington, D.C.[1] In the past, Chang has disappeared
                    and left restaurants, inspiring a group of fans to follow his movement in Internet discussion boards, 
                    such as DonRockwell.com and Chowhound."},
            { "name": "Marcela Valladolid", 
            "region": "Mexico,
            "birth_place": "San Diego, California",
            "birth_date": "19 July 1978",
            "youtube": "http://www.youtube.com/watch?v=OePrgATo0f4",
            "twitter": "https://twitter.com/chefmarcela"
            "bio": "Marcela Luz Valladolid is an American chef and author. She is the host of the Food Network television 
                    series Mexican Made Easy, and a co-host of the Food Network television series The Kitchen."},
            { "name": "Wolfgang Puck", 
            "region": "Austria",
            "birth_place": "Sankt Veit an der Glan, Austria",
            "birth_date": "8 July 1949",
            "youtube":"http://www.youtube.com/watch?v=Gc6B_N4eRoA",
            "twitter": "https://twitter.com/WolfgangBuzz"
            "bio":"Wolfgang Johannes Puck (born Wolfgang Johannes Topfschnig; July 8, 1949) is an Austrian-born American 
                    celebrity chef, restaurateur, and occasional actor. Wolfgang Puck restaurants, catering services, cookbooks 
                    and licensed products are run by Wolfgang Puck Companies, with three divisions."},
            { "name": "Tom", 
            "region":,
            "birth_place":,
            "birth_date": "1990",
            "youtube":,
            "twitter": "https://twitter.com/GDeLaurentiis"
            "bio":},
            { "name": "Tom", 
            "region":,
            "birth_place":,
            "birth_date": "1990",
            "youtube":,
            "twitter": "https://twitter.com/aartipaarti"
            "bio":},
            { "name": "Tom", 
            "region":,
            "birth_place":,
            "birth_date": "1990",
            "youtube":,
            "twitter": "https://twitter.com/GordonRamsay"
            "bio":},
            { "name": "Tom", 
            "region":,
            "birth_place":,
            "birth_date": "1990",
            "youtube":,
            "twitter": "https://twitter.com/jacques_pepin"
            "bio":},
            { "name": "Tom", 
            "region":,
            "birth_place":,
            "birth_date": "1990",
            "youtube":,
            "twitter": "https://twitter.com/MPsilakis"
            "bio":},
            { "name": "Tom", 
            "region":,
            "birth_place":,
            "birth_date": "1990",
            "youtube":,
            "twitter": "https://twitter.com/chef_morimoto"
            "bio":}]

+ Response 204

