FORMAT: 1A
HOST: http://www.google.com

# cs373-idb
**cs373-idb**

# Group Country

## Country Collection [/country]
### List all Countries [GET]
+ Response 200 (application/json)

        [{
          "name": "Southern USA"
        }, {
          "name": "China"
        }, {
          "name": "Mexico"
        }, {
          "name": "Austria"
        }, {
          "name": "Italy"
        }, {
          "name": "India"
        }, {
          "name": "Great Britain"
        }, {
          "name": "France"
        }, {
          "name": "Greece"
        }, {
          "name": "Japan"
        }]

## Country [/country/name/{name}]
    A single Country object with its food
    
### Country by name[GET]
+ Parameters
    + name (required, string, `China`) ... Numeric `name` of the Country to perform action with.

+ Response 200 (application/json)

    + Header

            X-My-Header: The Name

    + Body

            [{ "name": "America", 
            "description": "Something about American food",
            "location": "North America", 
            "picture": "http://A.picture" },
            { "name": "China", 
            "description": "Something about Chinese food",
            "location": "Asia", 
            "picture": "http://C.picture" },
            { "name": "Mexican", 
            "description": "Something about Mexican food",
            "location": "North America", 
            "picture": "http://M.picture" }]


# Group Recipe

##Recipe Collection [/recipe]
### List all Recipes [GET]
+ Response 200 (application/json)

        [{
            "name": "Southern Fried Chicken"
        }, {
            "name": "Dry-Fried Eggplant"
        }, {
            "name": "Pico de Gallo"
        } {
            "name": "Beef Goulash"
        }, {
            "name": "Chicken Piccata"
        }, {
            "name": "Chicken Tikka Masala"
        }, {
            "name": "Pork and Ham Pie"
        }, {
            "name": "Crepes Suzette"
        }, {
            "name": "Tzatziki"
        }, {
            "name": "Vegetable Sushi"
        },]

## Recipe [/recipe/name/{name}]
    Steps of how to make food

###Recipe by name[GET]
+ Parameters
    + name(required, string, `pizza`) ... Numeric `name` of the Food to perform action with.

+ Response 200 (application/json)

    + Header

            X-My-Header: The Name

    + Body

            [{ "name": "f1", 
            "ingredients": "A", 
            "region": ,
            "chef": ,
            "instructions": "first..",
            "time needed": "1 hour",
            "difficulty": "easy",
            "type": "dessert",
            "picture": "http://f1.picture" },
            { "name": "Dry-Fried Eggplant", 
            "ingredients": " Vegetable oil, for frying
                            1/2 to 1 teaspoon hot (chinese) chili powder
                            1/2 to 1 teaspoon hot paprika
                            About 6 (1 1/2 pounds total) Chinese (long) eggplants, trimmed, peeled and cut lengthwise into 2- or 3-inch-long, thick "steak" fries (about 8 fries from each eggplant)
                            Water
                            1/2 cup cornstarch
                            Leaves and tender stems from 4 to 6 stems cilantro, coarsely chopped", 
            "region": China,
            "chef": Peter Chang,
            "instructions": "Heat at least 4 inches of oil in a large, heavy-bottomed pot over medium-high heat until the oil reaches 350 degrees.
                    
                    Place a wire rack over several layers of paper towels.
                    
                    Combine the chili powder and paprika (to taste) in a small bowl.
                    
                    Meanwhile, wet the eggplant fries with a little water. Spread the cornstarch on a rimmed baking sheet.
                    
                    Working in batches, lightly and evenly coat the eggplant fries with the cornstarch, shaking off any excess. Discard any remaining cornstarch.
                    
                    Carefully add about 8 fries at a time to the hot oil; fry for 2 minutes, or until just browned, crisped and tender. Use a Chinese skimmer or slotted spatula to transfer to the rack to drain. Repeat to fry all the eggplant.
                    
                    Transfer the still-warm, crisped eggplant fries to a serving bowl; season with the chili powder-paprika mixture to taste; this dish is supposed to be spicy, and, if you can stand it, you should use enough of the mixture to color the eggplant fries a reddish-orange. Toss quickly with the cilantro; serve right away.",
            "time needed": "~20 min",
            "difficulty": "E",
            "type": "side",
            "picture": "http://www.washingtonpost.com/rf/image_600w/2010-2019/WashingtonPost/2012/01/14/Food/Images/FDwine25006_1326565800.jpg" },]
            
# Group Chef

##Chef Collection [/chef]
### List all Chefs [GET]
+ Response 200 (application/json)

        [{
            "name": "Paula Deen"
        }, {
            "name": "Peter Chang"
        }, {
            "name": "Marcela Valladolid"
        }, {
            "name": "Wolfgang Puck"
        }, {
            "name": "Giada De Laurentiis"
        },{
            "name": "Aarti Sequeira"
        },{
            "name": "Gordon Ramsay"
        },{
            "name": "Jacques Pepin"
        },{
            "name": "Michael Psilakis"
        },{
            "name": "Masaharu Morimoto"
        },]

## Chef [/chef/name/{name}]
    Chef of each country

###Chef by name[GET]
+ Parameters
    + name(required, string, `Tom`) ... Numeric `name` of the Chef to perform action with.

+ Response 200 (application/json)

    + Header

            X-My-Header: The Name

    + Body

            [{ "name": "Paula Deen", 
            "region": "Southern USA,
            "birth_place": Albany, Georgia, U.S.,
            "birth_date": "19 January 1947",
            "youtube":"https://www.youtube.com/watch?v=ogknIyLESHc",
            "twitter": "https://twitter.com/Paula_Deen"
            "bio":Paula Ann Hiers Deen is an American celebrity chef and cooking show television host. 
                    Deen resides in Savannah, Georgia, where she owns and operates The Lady & Sons 
                    restaurant with her sons, Jamie and Bobby Deen. She has published fourteen cookbooks. 
                    Though married in 2004 to Michael Groover, she uses the surname Deen, from her first marriage},
            { "name": "Peter Chang", 
            "region": "China",
            "birth_place":,
            "birth_date": "1990",
            "youtube": "http://www.youtube.com/watch?v=dsffikBdjz8",
            "twitter": "https://twitter.com/sichuanboy"'
            "bio": "Peter Chang is an award winning chef specializing in Szechwan cuisine who has cooked 
                    for restaurants in the American southeast. Chang was born in Hubei Province and trained in 
                    China, and cooked a meal for the Chinese president, Hu Jintao.[1] He moved to the United States 
                    to work as the chef at the Chinese Embassy in Washington, D.C.[1] In the past, Chang has disappeared
                    and left restaurants, inspiring a group of fans to follow his movement in Internet discussion boards, 
                    such as DonRockwell.com and Chowhound."},
            { "name": "Marcela Valladolid", 
            "region": "Mexico",
            "birth_place": "San Diego, California",
            "birth_date": "19 July 1978",
            "youtube": "http://www.youtube.com/watch?v=OePrgATo0f4",
            "twitter": "https://twitter.com/chefmarcela",
            "bio": "Marcela Luz Valladolid is an American chef and author. She is the host of the Food Network television 
                    series Mexican Made Easy, and a co-host of the Food Network television series The Kitchen."},
            { "name": "Wolfgang Puck", 
            "region": "Austria",
            "birth_place": "Sankt Veit an der Glan, Austria",
            "birth_date": "8 July 1949",
            "youtube":"http://www.youtube.com/watch?v=Gc6B_N4eRoA",
            "twitter": "https://twitter.com/WolfgangBuzz"
            "bio": "Wolfgang Johannes Puck (born Wolfgang Johannes Topfschnig; July 8, 1949) is an Austrian-born American 
                    celebrity chef, restaurateur, and occasional actor. Wolfgang Puck restaurants, catering services, cookbooks 
                    and licensed products are run by Wolfgang Puck Companies, with three divisions."},
            { "name": "Giada De Laurentiis", 
            "region": "Italy",
            "birth_place": "Rome, Italy",
            "birth_date": "22 August 1970",
            "youtube":"http://www.youtube.com/watch?v=nI8DlJ_4MV0",
            "twitter": "https://twitter.com/GDeLaurentiis",
            "bio": "Giada Pamela De Laurentiis (Italian pronunciation: [ˈdʒaːda de lauˈrentis]; born August 22, 1970) is an 
                    Italian-born American chef, writer, television personality, and the host of the current Food Network television 
                    program Giada at Home. She also appears regularly as a contributor and guest co-host on NBC's Today. De Laurentiis
                    is the founder of the catering business GDL Foods.[1] She is a winner of the Daytime Emmy Award for Outstanding 
                    Lifestyle Host,[2] and in 2012 was inducted into the Culinary Hall of Fame."},
            { "name": "Aarti Sequeira", 
            "region": "India",
            "birth_place": "Mumbai, India",
            "birth_date": "19 August 1978",
            "youtube": "http://www.youtube.com/watch?v=3LFFpAD15Y8",
            "twitter": "https://twitter.com/aartipaarti",
            "bio": "Aarti Sequeira is an Indian chef and television personality, best known as the winner of the sixth season 
                    of Food Network's reality television show, The Next Food Network Star.[1] As a result of that victory, her show 
                    Aarti Party premiered on the network on August 22, 2010. She had previously worked as a CNN news producer and in
                    2008 started the online cooking variety show Aarti Paarti. She currently hosts another cooking show, Taste in 
                    Translation,[1] in which she seeks the most popular dishes from around the world."},
            { "name": "Gordon Ramsay", 
            "region": "Great Britain",
            "birth_place": "Johnstone, Renfrewshire, Scotland",
            "birth_date": "8 November 1966",
            "youtube": "https://www.youtube.com/watch?v=fETZCWvzkWM",
            "twitter": "https://twitter.com/GordonRamsay",
            "bio": "Gordon James Ramsay, Jr. /ˈræm.ziː/, OBE (born 8 November 1966) is a Scottish celebrity chef, restaurateur, 
                    and television personality.[1] His restaurants have been awarded 15 Michelin stars in total and currently hold 
                    14. His signature restaurant, Restaurant Gordon Ramsay in Chelsea, London has held 3 Michelin stars since 2001.
                    Ramsay is known for presenting TV programmes about competitive cookery and food, such as the British series Hell's 
                    Kitchen, The F Word, and Ramsay's Kitchen Nightmares, along with the American versions of Hell's Kitchen, Kitchen 
                    Nightmares, MasterChef, and Masterchef Junior."},
            { "name": "Jacques Pepin", 
            "region": "France",
            "birth_place": "Bourg-en-Bresse, France",
            "birth_date": "18 December 1935",
            "youtube": "http://www.youtube.com/watch?v=Ysm-LEEb_K4",
            "twitter": "https://twitter.com/jacques_pepin"'
            "bio": "Jacques Pépin (born December 18, 1935)[1] is an internationally recognized French chef, television personality, 
                    and author working in the United States. Since the late 1980s, he has appeared on French and American television and 
                    written an array of cookbooks that have become best sellers."},
            { "name": "Michael Psilakis", 
            "region": "Greece",
            "birth_place": "New York City, NY",
            "birth_date": "1968",
            "youtube":"http://www.youtube.com/watch?v=mIYCManR3Ec",
            "twitter": "https://twitter.com/MPsilakis",
            "bio":"Michael Psilakis is a Greek-American New York City restaurateur best known for his appearances on television shows 
                    including Ultimate Recipe Showdown, Iron Chef America, The Best Thing I Ever Ate and No Kitchen Required.[1] He had 
                    owned and operated a number of popular restaurants around New York and has cooked for President Barack Obama at the White House."},
            { "name": "Masaharu Morimoto", 
            "region": "Japan",
            "birth_place": "Hiroshima, Japan",
            "birth_date": "1955",
            "youtube": "https://www.youtube.com/watch?v=WmaTpRuQFTE",
            "twitter": "https://twitter.com/chef_morimoto",
            "bio": "Masaharu Morimoto (森本 正治 Morimoto Masaharu?, born May 26, 1955, in Hiroshima, Japan) is a Japanese chef, 
                    best known as an Iron Chef on the Japanese TV cooking show Iron Chef and its spinoff Iron Chef America. He is also known for his unique
                    style of presenting food. Morimoto received practical training in sushi and traditional Kaiseki cuisine in Hiroshima, and opened his own 
                    restaurant in that city in 1980. Influenced by Western cooking styles, he decided to sell his restaurant in 1985 to travel around the 
                    United States. His travels further influenced his fusion style of cuisine. He established himself in New York City and worked in some
                    of Manhattan's prestigious restaurants, including the dining area for Sony Corporation's executive staff and visiting VIPs, the Sony Club, 
                    where he was executive chef, and at the exclusive Japanese restaurant Nobu, where he was head chef. While at Nobu he got his start on 
                    the Iron Chef television show. Several months after the weekly run of Iron Chef ended in 1999, he left Nobu, eventually opening his 
                    own Morimoto restaurant in Philadelphia in 2001. He now has a Morimoto restaurant in Chelsea in New York City. For this New York City 
                    restaurant it has architecturally exposed concrete, a signature element of Tadao Ando’s work, is dramatically visible in a series.
                    Alongside Tadao Ando and collaboration with Goto Design Group, the structural engineers who took on this project was Leslie E. Robertson 
                    Associates. Mr. Morimoto also has restaurants in Mumbai and New Delhi, called "Wasabi" and another Morimoto in Boca Raton, Florida. 
                    He also partnered with businessmen Paul Ardaji, Jr., and Paul Ardaji, Sr., in an Asian bistro venture called Pauli Moto's; the initial 
                    branch opened in Tyson's Corner, Virginia but has since closed.[2] Morimoto also owns Morimoto XEX in Tokyo that has a Teppanyaki and 
                    a sushi floor. Morimoto XEX received a Michelin star in the recent Tokyo Michelin Guide.[3] Morimoto currently appears as an Iron Chef 
                    in Iron Chef America, a spinoff from the original Japanese Iron Chef series. "}]

+ Response 204

