FORMAT: 1A
HOST: http://www.google.com

# cs373-idb
**cs373-idb**

# Group Country

## Country Collection [/api/region]
### List all Countries [GET]
+ Response 200 (application/json)

        [{
            "pk": 1, 
            "model": "library.region", 
            "fields": {
                "google_map": "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2749828.4664627956!2d13.345734749999998!3d47.69647194999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406073451474", 
                "name": "Austria", 
                "image": "/static/regions/austria.jpg", 
                "description": "Austrian cuisine is a style of cuisine native to Austria and composed of influences from throughout the former Austro-Hungarian Empire.Regional influences from Italy, Hungary, Bohemia, Germany and the Balkans have had an effect on Austrian cooking, and in turn this fusion of styles was influential throughout the Empire."
            }
        }, {
            "pk": 2, 
            "model": "library.region", 
                "fields": {
                "google_map": "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6828949.384035833!2d-86.77486585551989!3d33.30710293610544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406082141150", 
                "name": "Southern USA", 
                "image": "/static/regions/southern_usa.jpg", 
                "description": "Southern USA food is derived from many cultures.Many items such as squash, tomatoes, corn (and its derivatives,including grits), as well as the practice of deep pit barbecuingwere inherited from the southeastern American Indian tribes suchas the Caddo, Choctaw, and Seminole. Many foods associated withsugar, flour, milk, eggs (many kinds of baking or dairy productssuch as breads and cheeses) are more associated with Europe.Black-eyed peas, okra, rice, eggplant, benne (sesame) seed, sorghum,and melons, as well as the spices can be attributed to peoplesof African origin."
            }       
        }, {
            "pk": 3, 
            "model": "library.region", 
            "fields": {
                "google_map": "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26715321.06636295!2d102.55407859038826!3d35.177873803273854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406081997326", 
                "name": "China", 
                "image": "/static/  regions/china.jpg", 
                "description": "Rice is China's staple food. The Chinese word for rice is \"fan\" which also means \"meal.\" Rice may be served with any meal, and is eaten several times a day. Scallions, bean sprouts, cabbage, and gingerroot are other traditional foods. Soybean curd, called tofu, is an important source of protein for the Chinese. Although the Chinese generally do not eat a lot of meat, pork and chicken are the most commonly eaten meats. Vegetables play a central role in Chinese cooking, too."
          }
        }, {
            "pk": 4, 
            "model": "library.region", 
            "fields": {
                "google_map": "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29944850.76085828!2d-102.53750054999999!3d23.6266557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406081923575", 
                "name": "Mexico",   
                "image": "/static/regions/mexico.jpg", 
                "description": "Mexican cuisine is primarily a fusion of indigenous \r\n                    Mesoamerican cooking with European, especially Spanish, elements added \r\n                    after the Spanish conquest of the Aztec Empire in the 16th century. The \r\n                    basic staples remain native foods such as corn, beans and chili peppers, \r\n                    but the Europeans introduced a large number of other foods, the most \r\n                    important of which were meat from domesticated animals (beef, pork, \r\n                    chicken, goat and sheep), dairy products (especially cheese) and various \r\n                    herbs and lots of spices."
        }
        }, {
            "pk": 5, 
            "model": "library.region", 
            "fields": {
                "google_map": "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12278800.014646716!2d12.57361079999999!3d41.29246004999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d4fe82448dd203%3A0xe22cf55c24635e6f!2sItaly!5e0!3m2!1sen!2sus!4v1406081875860", 
                "name": "Italy", 
                "image": "/static/regions/italy.jpg", 
                "description": "Italian cuisine is characterized by its simplicity, with many\r\n                    dishes having only four to eight ingredients. Italian cooks rely chiefly \r\n                    on the quality of the ingredients rather than on elaborate preparation. \r\n                    Ingredients and dishes vary by region. Many dishes that were once regional, \r\n                    however, have proliferated with variations throughout the country. In 2013 \r\n                    Italian cuisine was ranked by CNN as the best cuisine in the world."
            }
        }, {
            "pk": 7, 
            "model": "library.region", 
            "fields": {
                "google_map": "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d30487246.86756889!2d82.77922009999996!3d21.12899554999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406081836313", 
                "name": "India", 
                "image": "/static/regions/india.jpg", 
                "description": "Indian cuisine encompasses a wide variety of regional cuisines \r\n                    native to India. Given the range of diversity in soil type, climate and occupations, \r\n                    these cuisines vary significantly from each other and use locally available spices,\r\n                    herbs, vegetables and fruits. Indian food is also heavily influenced by religious\r\n                    and cultural choices and traditions."
            }
        }, {
            "pk": 8, 
            "model": "library.region", 
            "fields": {
                "google_map": "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9288846.204449661!2d-3.4433237999999995!3d55.3617609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406081796622", 
                "name": "Great Britain", 
                "image": "/static/regions/great_britain.jpg", 
                "description": "British food has traditionally been based on beef, lamb, pork, \r\n                    chicken and fish and generally served with potatoes and one other vegetable. The\r\n                    most common and typical foods eaten in Britain include the sandwich, fish and \r\n                    chips, pies like the cornish pasty, trifle and roasts dinners."
            }
        }, {
            "pk": 9, 
            "model": "library.region", 
            "fields": {
            "google_map": "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5602772.070080923!2d1.7191035999999973!3d46.711089999999956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54a02933785731%3A0x6bfd3f96c747d9f7!2sFrance!5e0!3m2!1sen!2sus!4v1406081705083", 
            "name": "France", 
            "image": "/static/regions/france.jpg", 
            "description": "Guillaume Tirel Taillevent, a court chef, wrote Le Viandier, one \r\n                    of the earliest recipe collections of medieval France. During that time, French \r\n                    cuisine was heavily influenced by Italian cuisine. In the 17th century, chefs \r\n                    Fran\u00e7ois Pierre La Varenne and Marie-Antoine Car\u00eame spearheaded movements that \r\n                    shifted French cooking away from its foreign influences and developed France's\r\n                    own indigenous style. Cheese and wine are a major part of the cuisine, playing\r\n                    different roles regionally and nationally, with many variations and appellation\r\n                    d'origine contr\u00f4l\u00e9e (AOC) (regulated appellation) laws."
        }
        }, {
            "pk": 11, 
            "model": "library.region", 
            "fields": {
                "google_map": "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6483472.813068139!2d136.4664008!3d37.4900318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406081459135", 
                "name": "Japan", 
                "image": "/static/regions/japan.jpg", 
                "description": "The traditional food of Japan is based on rice with miso soup and other \r\n                    dishes, each in its own utensil, with an emphasis on seasonal ingredients. The side dishes \r\n                    often consist of fish, pickled vegetables, and vegetables cooked in broth. Fish is common \r\n                    in the traditional cuisine. It is often grilled, but it may also be served raw as sashimi \r\n                    or in sushi. Seafood and vegetables are also deep-fried in a light batter as tempura."
            }
        }, {
        "pk": 12, 
            "model": "library.region", 
            "fields": {
                "google_map": "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6438263.566431986!2d127.6666185!3d38.007844999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406138836871", 
                "name": "Korea", 
                "image": "/static/regions/south_korea.jpg", 
                "description": "Korean cuisine is largely based upon rice, vegetables, and meats. Traditional Korean meals are noted for the number of side dishes (banchan) that accompany steam-cooked short-grain rice. Kimchi is served often, sometimes at every meal. Commonly used ingredients include sesame oil, doenjang (fermented bean paste), soy sauce, salt, garlic, ginger, pepper flakes and gochujang (fermented red chili paste)."
            }
        }]

## Country [/api/region/{PK}]
    A single Country object with its food
    
### Country by PK[GET]
+ Parameters
    + PK (required, integer, `1`) ... Numeric `PK` of the Country to perform action with.

+ Response 200 (application/json)

    + Header

            X-My-Header: The Name

    + Body
    
            [{
                "pk": 1, 
                "model": "library.region", 
                "fields": {
                    "google_map": "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2749828.4664627956!2d13.345734749999998!3d47.69647194999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406073451474", 
                    "name": "Austria", 
                    "image": "/static/regions/austria.jpg", 
                    "description": "Austrian cuisine is a style of cuisine native to Austria and composed of influences from throughout the former Austro-Hungarian Empire.Regional influences from Italy, Hungary, Bohemia, Germany and the Balkans have had an effect on Austrian cooking, and in turn this fusion of styles was influential throughout the Empire."
                }
            }, {
                "pk": 2, 
                "model": "library.region", 
                    "fields": {
                    "google_map": "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6828949.384035833!2d-86.77486585551989!3d33.30710293610544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406082141150", 
                    "name": "Southern USA", 
                    "image": "/static/regions/southern_usa.jpg", 
                    "description": "Southern USA food is derived from many cultures.Many items such as squash, tomatoes, corn (and its derivatives,including grits), as well as the practice of deep pit barbecuingwere inherited from the southeastern American Indian tribes suchas the Caddo, Choctaw, and Seminole. Many foods associated withsugar, flour, milk, eggs (many kinds of baking or dairy productssuch as breads and cheeses) are more associated with Europe.Black-eyed peas, okra, rice, eggplant, benne (sesame) seed, sorghum,and melons, as well as the spices can be attributed to peoplesof African origin."
                }       
            }, {
                "pk": 3, 
                "model": "library.region", 
                "fields": {
                    "google_map": "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26715321.06636295!2d102.55407859038826!3d35.177873803273854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406081997326", 
                    "name": "China", 
                    "image": "/static/  regions/china.jpg", 
                    "description": "Rice is China's staple food. The Chinese word for rice is \"fan\" which also means \"meal.\" Rice may be served with any meal, and is eaten several times a day. Scallions, bean sprouts, cabbage, and gingerroot are other traditional foods. Soybean curd, called tofu, is an important source of protein for the Chinese. Although the Chinese generally do not eat a lot of meat, pork and chicken are the most commonly eaten meats. Vegetables play a central role in Chinese cooking, too."
              }
            }, {
                "pk": 4, 
                "model": "library.region", 
                "fields": {
                    "google_map": "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29944850.76085828!2d-102.53750054999999!3d23.6266557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406081923575", 
                    "name": "Mexico",   
                    "image": "/static/regions/mexico.jpg", 
                    "description": "Mexican cuisine is primarily a fusion of indigenous \r\n                    Mesoamerican cooking with European, especially Spanish, elements added \r\n                    after the Spanish conquest of the Aztec Empire in the 16th century. The \r\n                    basic staples remain native foods such as corn, beans and chili peppers, \r\n                    but the Europeans introduced a large number of other foods, the most \r\n                    important of which were meat from domesticated animals (beef, pork, \r\n                    chicken, goat and sheep), dairy products (especially cheese) and various \r\n                    herbs and lots of spices."
            }
            }, {
                "pk": 5, 
                "model": "library.region", 
                "fields": {
                    "google_map": "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12278800.014646716!2d12.57361079999999!3d41.29246004999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d4fe82448dd203%3A0xe22cf55c24635e6f!2sItaly!5e0!3m2!1sen!2sus!4v1406081875860", 
                    "name": "Italy", 
                    "image": "/static/regions/italy.jpg", 
                    "description": "Italian cuisine is characterized by its simplicity, with many\r\n                    dishes having only four to eight ingredients. Italian cooks rely chiefly \r\n                    on the quality of the ingredients rather than on elaborate preparation. \r\n                    Ingredients and dishes vary by region. Many dishes that were once regional, \r\n                    however, have proliferated with variations throughout the country. In 2013 \r\n                    Italian cuisine was ranked by CNN as the best cuisine in the world."
                }
            }, {
                "pk": 7, 
                "model": "library.region", 
                "fields": {
                    "google_map": "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d30487246.86756889!2d82.77922009999996!3d21.12899554999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406081836313", 
                    "name": "India", 
                    "image": "/static/regions/india.jpg", 
                    "description": "Indian cuisine encompasses a wide variety of regional cuisines \r\n                    native to India. Given the range of diversity in soil type, climate and occupations, \r\n                    these cuisines vary significantly from each other and use locally available spices,\r\n                    herbs, vegetables and fruits. Indian food is also heavily influenced by religious\r\n                    and cultural choices and traditions."
                }
            }, {
                "pk": 8, 
                "model": "library.region", 
                "fields": {
                    "google_map": "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9288846.204449661!2d-3.4433237999999995!3d55.3617609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406081796622", 
                    "name": "Great Britain", 
                    "image": "/static/regions/great_britain.jpg", 
                    "description": "British food has traditionally been based on beef, lamb, pork, \r\n                    chicken and fish and generally served with potatoes and one other vegetable. The\r\n                    most common and typical foods eaten in Britain include the sandwich, fish and \r\n                    chips, pies like the cornish pasty, trifle and roasts dinners."
                }
            }, {
                "pk": 9, 
                "model": "library.region", 
                "fields": {
                "google_map": "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5602772.070080923!2d1.7191035999999973!3d46.711089999999956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54a02933785731%3A0x6bfd3f96c747d9f7!2sFrance!5e0!3m2!1sen!2sus!4v1406081705083", 
                "name": "France", 
                "image": "/static/regions/france.jpg", 
                "description": "Guillaume Tirel Taillevent, a court chef, wrote Le Viandier, one \r\n                    of the earliest recipe collections of medieval France. During that time, French \r\n                    cuisine was heavily influenced by Italian cuisine. In the 17th century, chefs \r\n                    Fran\u00e7ois Pierre La Varenne and Marie-Antoine Car\u00eame spearheaded movements that \r\n                    shifted French cooking away from its foreign influences and developed France's\r\n                    own indigenous style. Cheese and wine are a major part of the cuisine, playing\r\n                    different roles regionally and nationally, with many variations and appellation\r\n                    d'origine contr\u00f4l\u00e9e (AOC) (regulated appellation) laws."
            }
            }, {
                "pk": 11, 
                "model": "library.region", 
                "fields": {
                    "google_map": "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6483472.813068139!2d136.4664008!3d37.4900318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406081459135", 
                    "name": "Japan", 
                    "image": "/static/regions/japan.jpg", 
                    "description": "The traditional food of Japan is based on rice with miso soup and other \r\n                    dishes, each in its own utensil, with an emphasis on seasonal ingredients. The side dishes \r\n                    often consist of fish, pickled vegetables, and vegetables cooked in broth. Fish is common \r\n                    in the traditional cuisine. It is often grilled, but it may also be served raw as sashimi \r\n                    or in sushi. Seafood and vegetables are also deep-fried in a light batter as tempura."
                }
            }, {
            "pk": 12, 
                "model": "library.region", 
                "fields": {
                    "google_map": "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6438263.566431986!2d127.6666185!3d38.007844999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406138836871", 
                    "name": "Korea", 
                    "image": "/static/regions/south_korea.jpg", 
                    "description": "Korean cuisine is largely based upon rice, vegetables, and meats. Traditional Korean meals are noted for the number of side dishes (banchan) that accompany steam-cooked short-grain rice. Kimchi is served often, sometimes at every meal. Commonly used ingredients include sesame oil, doenjang (fermented bean paste), soy sauce, salt, garlic, ginger, pepper flakes and gochujang (fermented red chili paste)."
                }
            }]
            
# Group Recipe

##Recipe Collection [/api/recipe]
### List all Recipes [GET]
+ Response 200 (application/json)

        [{
            "pk": 1, 
            "model": "library.recipe", 
            "fields": {
                "difficulty": "H", 
                "dish_type": "Entree", 
                "name": "Beef Goulash", 
                "ingredients": "2 tablespoons extra virgin olive oil<br>\r\n                            4 cups onions, thinly sliced<br>\r\n                            1 tablespoon sugar<br>\r\n                            3 garlic cloves, minced<br>\r\n                            1 tablespoon caraway seeds, toasted and ground<br>\r\n                            1 1/2 tablespoons sweet paprika<br>\r\n                            1 teaspoon spicy paprika<br>\r\n                            2 tablespoons minced fresh marjoram leaves<br>\r\n                            1 teaspoon minced fresh thyme leaves<br>\r\n                            1 bay leaf<br>\r\n                            3 tablespoons tomato paste<br>\r\n                            2 tablespoons balsamic vinegar<br>\r\n                            4 cups chicken stock<br>\r\n                            2 1/2 pounds beef shank, cut into 2-inch cubes<br>\r\n                            1 teaspoon kosher salt<br>\r\n                            1/4 teaspoon freshly ground black pepper<br>\r\n                            Spaetzle, recipe follows<br><br>\r\n                            Spaetzle:<br>\r\n                            4 egg yolks<br>\r\n                            1 egg<br>\r\n                            1 3/4 cups milk<br>\r\n                            1 pound (about 3 cups) all purpose flour<br>\r\n                            1/4 teaspoon freshly grated nutmeg<br>\r\n                            1 teaspoon salt<br>\r\n                            1/4 teaspoon freshly ground pepper<br>\r\n                            1/2 cup peanut oil<br>\r\n                            Salt<br>\r\n                            Pepper<br>\r\n                            2 ounces unsalted butter", 
                "region": 1, 
                "time_needed": "4 hr 5 min", 
                "chef": 1, 
                "image": "/static/recipes/beef_goulash.jpg", 
                "instructions": "In a large saute pan, heat the olive oil and saute the onions and sugar until caramelized. Add the garlic and caraway seed. <br><br>\r\n            \r\n                            Cook for 1 minute. Add the sweet and sharp paprika, marjoram, thyme, and bay leaf. Saute another minute, until fragrant. Add the tomato paste. <br><br>\r\n                            \r\n                            Deglaze with the vinegar and the stock and add the pieces of beef shank, salt, and pepper. Bring to a boil, then lower to a simmer and cook until very tender, about 1 1/2 hours, stirring occasionally.<br><br>\r\n\r\n                            Taste and adjust seasoning with salt and pepper. Serve with Spaetzle on the side.<br><br>\r\n                            \r\n                            Spaetzle:<br>\r\n                            \r\n                            In a small bowl, beat together the egg yolks, egg and milk. In a medium bowl, combine the flour, nutmeg, salt, and pepper.<br><br>\r\n                            \r\n                            Add the egg mixture to the flour mixture and mix with hand until well blended. Do not overmix at this stage. Cover the bowl and refrigerate. Allow the batter to rest for at least 1 hour.<br><br>\r\n                            \r\n                            Bring salted water to a boil. Place a perforated hotel pan on top of the pot. Place the batter on the pan and force through the holes to form spaetzle. Cook for 4 to 5 minutes, or until al dente. Transfer cooked spaetzle to a bowl of ice water to shock. When cool to the touch, drain well. Stir in half the oil. (At this point you can cover and refrigerate up to 2 days).<br><br>\r\n                            \r\n                            Over high heat, place a large saute pan until it gets very hot. Add the remaining 1/4 cup of oil and the boiled spaetzle. Saute until golden. Season, to taste, with salt and pepper. Finish with butter and sprinkle with parsley."
            }
        }, {
            "pk": 2, 
            "model": "library.recipe", 
            "fields": {
                "difficulty": "E", 
                "dish_type": "entree", 
                "name": "Southern Fried Chicken", 
                "ingredients": "3 eggs 1/3 cup water<br>\r\nAbout 1 cup hot red pepper sauce (recommended: Texas Pete)<br>\r\n2 cups self-rising flour<br>\r\n1 teaspoon pepper<br>\r\nHouse seasoning<br>\r\n1 (1 to 2 1/2-pound) chicken, cut into pieces<br>\r\nOil, for frying, preferably peanut oil  <br>     <br>           \r\nHouse Seasoning:<br>\r\n1 cup salt<br>\r\n1/4 cup black pepper<br>\r\n1/4 cup garlic powder ", 
                "region": 2, 
                "time_needed": "1 hour", 
                "chef": 2, 
                "image": "/static/recipes/southern_fried_chicken.jpeg", 
                "instructions": "1. In a medium size bowl, beat the eggs with the water. Add enough hot sauce so the egg mixture is bright orange. In another bowl, combine the flour and pepper. Season the chicken with the house seasoning. Dip the seasoned chicken in the egg, and then coat well in the flour mixture.<br><br>\r\n        \r\n2. Heat the oil to 350 degrees F in a deep pot. Do not fill the pot more than 1/2 full with oil.<br><br>\r\n                            \r\n3. Fry the chicken in the oil until brown and crisp. Dark meat takes longer then white meat. It should take dark meat about 13 to 14 minutes, white meat around 8 to 10 minutes.<br><br>\r\n\r\n4. House Seasoning: Mix ingredients together and store in an airtight container for up to 6 months.<br><br>"
            }
        }, {
            "pk": 3, 
            "model": "library.recipe", 
            "fields": {
                "difficulty": "E", 
                "dish_type": "Side", 
                "name": "Dry Fried Eggplant", 
                "ingredients": " Vegetable oil, for frying<br>\r\n                            1/2 to 1 teaspoon hot (chinese) chili powder<br>\r\n                            1/2 to 1 teaspoon hot paprika<br>\r\n                            About 6 (1 1/2 pounds total) Chinese (long) eggplants, trimmed, peeled and cut lengthwise into 2- or 3-inch-long, thick \"steak\" fries (about 8 fries from each eggplant)<br>\r\n                            Water<br>\r\n                            1/2 cup cornstarch<br>\r\n                            Leaves and tender stems from 4 to 6 stems cilantro, coarsely chopped", 
                "region": 3, 
                "time_needed": "20 min", 
                "chef": 5, 
                "image": "/static/recipes/dry_fried_eggplant.jpg", 
                "instructions": "Heat at least 4 inches of oil in a large, heavy-bottomed pot over medium-high heat until the oil reaches 350 degrees.<br><br>\r\n                    \r\n                    Place a wire rack over several layers of paper towels.<br><br>\r\n                    \r\n                    Combine the chili powder and paprika (to taste) in a small bowl.<br><br>\r\n                    \r\n                    Meanwhile, wet the eggplant fries with a little water. Spread the cornstarch on a rimmed baking sheet.<br><br>\r\n                    \r\n                    Working in batches, lightly and evenly coat the eggplant fries with the cornstarch, shaking off any excess. Discard any remaining cornstarch.<br><br>\r\n                    \r\n                    Carefully add about 8 fries at a time to the hot oil; fry for 2 minutes, or until just browned, crisped and tender. Use a Chinese skimmer or slotted spatula to transfer to the rack to drain. Repeat to fry all the eggplant.<br><br>\r\n                    \r\n                    Transfer the still-warm, crisped eggplant fries to a serving bowl; season with the chili powder-paprika mixture to taste; this dish is supposed to be spicy, and, if you can stand it, you should use enough of the mixture to color the eggplant fries a reddish-orange. Toss quickly with the cilantro; serve right away."
            }
        }, {
            "pk": 4, 
            "model": "library.recipe", 
            "fields": {
                "difficulty": "E", 
                "dish_type": "Side", 
                "name": "Pico de Gallo", 
                "ingredients": "1 1/2 pounds yellow or red tomatoes, seeded and chopped<br>\r\n                            1 small onion, chopped<br>\r\n                            1/2 cup chopped fresh cilantro leaves<br>\r\n                            3 tablespoons fresh lime juice<br>\r\n                            2 serrano chiles*, seeded and minced<br>\r\n                            Pinch kosher salt and fresh ground black pepper<br>", 
                "region": 4, 
                "time_needed": "40 min", 
                "chef": 4, 
                "image": "/static/recipes/pico_de_gallo.jpeg", 
                "instructions": "Add all the ingredients to a medium bowl, and toss to combine.<br><br>\r\n                            Cover and chill until ready to serve. This salsa can be made 4 hours ahead."
            }
        }, {
            "pk": 5, 
            "model": "library.recipe", 
            "fields": {
                "difficulty": "E", 
                "dish_type": "Entree", 
                "name": "Chicken Piccata", 
                "ingredients": "2 skinless and boneless chicken breasts, butterflied and then cut in half<br>\r\n                            Sea salt and freshly ground black pepper<br>\r\n                            All-purpose flour, for dredging<br>\r\n                            6 tablespoons unsalted butter<br>\r\n                            5 tablespoons extra-virgin olive oil<br>\r\n                            1/3 cup fresh lemon juice<br>\r\n                            1/2 cup chicken stock<br>\r\n                            1/4 cup brined capers, rinsed<br>\r\n                            1/3 cup fresh parsley, chopped<br>", 
                "region": 5, 
                "time_needed": "40 min", 
                "chef": 6, 
                "image": "/static/recipes/chicken_piccata.jpeg", 
                "instructions": "Season chicken with salt and pepper. Dredge chicken in flour and shake off excess.<br><br>\r\n\r\nIn a large skillet over medium high heat, melt 2 tablespoons of butter with 3 tablespoons olive oil. When butter and oil start to sizzle, add 2 pieces of chicken and cook for 3 minutes. When chicken is browned, flip and cook other side for 3 minutes. Remove and transfer to plate. Melt 2 more tablespoons butter and add another 2 tablespoons olive oil. When butter and oil start to sizzle, add the other 2 pieces of chicken and brown both sides in same manner. Remove pan from heat and add chicken to the plate.<br><br>\r\n\r\nInto the pan add the lemon juice, stock and capers. Return to stove and bring to boil, scraping up brown bits from the pan for extra flavor. Check for seasoning. Return all the chicken to the pan and simmer for 5 minutes. Remove chicken to platter. Add remaining 2 tablespoons butter to sauce and whisk vigorously. Pour sauce over chicken and garnish with parsley.<br><br>"
            }
        }, {
            "pk": 6, 
            "model": "library.recipe", 
            "fields": {             
                "difficulty": "E", 
                "dish_type": "Entree", 
                "name": "Chicken Tikka Masala", 
                "ingredients": "Marinade:<br>\r\n                            1 cup plain yogurt, whisked until smooth<br>\r\n                            3 tablespoons Ginger-Garlic Paste, recipe follows (or 1 tablespoon grated fresh ginger and 3 cloves garlic put through a garlic press or finely minced)<br>\r\n                            1 teaspoon kosher salt<br>\r\n                            1/2 teaspoon freshly ground black pepper<br>\r\n                            1 pound boneless, skinless chicken thighs, poked with a fork, and cut into large bite-sized chunks<br><br>\r\n                            Sauce:<br>\r\n                            2 teaspoons olive oil<br>\r\n                            3 tablespoons butter<br>\r\n                            1/3 cup Ginger-Garlic Paste, recipe follows (or 6 cloves garlic and 2-inch thumb ginger minced)<br>\r\n                            2 serrano peppers, minced (seeds removed if you don't want it spicy)<br>\r\n                            2 tablespoons tomato paste<br>\r\n                            1 teaspoon garam masala<br>\r\n                            2 teaspoons paprika<br>\r\n                            8 Roma tomatoes, diced<br>\r\n                            1 1/2 teaspoons kosher salt<br>\r\n                            1 to 2 cups water<br>\r\n                            Oil, for grilling<br>\r\n                            1 tablespoon dried fenugreek leaves (optional)<br>\r\n                            1/2 cup heavy cream<br>\r\n                            Minced fresh cilantro, for garnish<br>\r\n                            Cooked rice, naan, or crusty piece of bread, for serving<br><br>\r\n                            Ginger-Garlic Paste:<br>\r\n                            1/2 cup cloves garlic, whole<br>\r\n                            1/2 cup fresh ginger, peeled, cut into 1/2-inch slices<br>\r\n                            1/4 cup canola oil<br>", 
                "region": 7, 
                "time_needed": "1 hr 25 min", 
                "chef": 8, 
                "image": "/static/recipes/chicken_tikka_masala.jpeg", 
                "instructions": "                            For the marinade: <br>In a large bowl, mix together the marinade ingredients. Add the chicken and toss to coat. Marinate at least 30 minutes, or in the refrigerator up to overnight.<br><br>\r\n                            \r\n                            For the sauce: <br>When you're ready to make the curry, place a large skillet over medium heat and add the olive oil and butter. When the butter has melted, add the Ginger-Garlic Paste and serrano peppers. Saute until lightly browned around the edges. Add the tomato paste and cook until the tomato has darkened in color, about 3 minutes. Add the garam masala and the paprika and saute for about 1 minute to draw out their flavors.<br><br>\r\n                            \r\n                            Add the tomatoes, salt, and 1 cup water. Bring to a boil, turn down to a simmer, and cook until thickened, about 20 minutes. You may need more water depending on how much liquid the tomatoes give off.<br><br>\r\n                            \r\n                            Meanwhile, fire up your grill. When it is nice and hot, lightly brush it with oil. Place the chicken on the grill, shaking off some of the excess marinade. Cook until it's charred, about 2 minutes on each side. (Don't worry that the chicken will still be a little uncooked, it finishes cooking in the sauce).\r\n                            \r\n                            Pour the sauce into a blender or food processor, or use an immersion blender, and process until smooth. Pour back into the skillet and bring back up to a boil. Add the chicken and fenugreek leaves, if using. Take the heat down to a simmer and cook for about 10 minutes. Add the cream and stir through. Garnish with minced fresh cilantro, and serve over rice, with naan, or a crusty piece of bread!\r\n                            \r\n                            Ginger-Garlic Paste:<br>\r\n                            Throw the garlic, ginger, and canola oil in a mini-food processor and let it go until it forms a semi-smooth paste. There will still be tiny little pieces in there, but overall, it should resemble a paste.<br><br>\r\n                            \r\n                            Save what you don't use in a small glass jar. It should last in the fridge for 2 to 3 weeks. It's a delicious addition to marinades, pasta sauces, stir fry sauces, slow-cooker recipes, gravy etc. We always had a jar of this stuff in our fridge growing up."
            }
        }, {
            "pk": 7, 
            "model": "library.recipe", 
            "fields": {
                "difficulty": "H", 
                "dish_type": "Entree", 
                "name": "Pork and Ham Pie", 
                "ingredients": "6 eggs<br>\r\n                            400g minced pork<br>\r\n                            200g good-quality pork sausage meat<br>\r\n                            140g cooked ham meat (see know-how), chopped into small chunks<br>\r\n                            small handful sage leaves<br>\r\n                            1 small onion, finely chopped<br>\r\n                            few shakes Tabasco sauce<br>\r\n                            2 leaves gelatine<br><br>\r\n                            For the pastry:<br>\r\n                            100g lard, plus extra for greasing<br>\r\n                            450g plain flour, plus extra for dusting<br>\r\n                            4 tbsp milk<br>\r\n                            1 egg, beaten", 
                "region": 8, 
                "time_needed": "2 hr 45 min", 
                "chef": 9, 
                "image": "/static/recipes/pork_and_ham_pie.jpg", 
                "instructions": "Bring a large pan of salted water to the boil, then boil the eggs for exactly 7\u00bd mins. Cool in cold water, peel and set aside. Tip the pork, sausagemeat, ham, sage and onion into a large bowl. Season generously and add a few shakes of Tabasco. Mix well with your hands until completely combined. Take about 1 tbsp of the mix, shape into a small burger and fry in a pan. Taste for seasoning. Slightly over-seasoned is perfect.<br><br>\r\n                            Melt a few tbsps lard, brush a 1-litre terrine dish with an even layer of the melted fat, then dust with flour. To make the pastry, tip the flour into a bowl with 2 tsp salt. Put the lard and milk into a pan with 150ml water, then heat until the lard has completely melted. Pour into the flour and beat with a wooden spoon until combined. Tip onto the surface and knead until it all comes together.<br><br>\r\n                            Cut a piece of baking parchment to fit the bottom and long sides of the terrine dish with some hanging over the edge. Take about two-thirds of the pastry dough and shape it into a rectangle roughly the width and length of the dish. Lay the dough into the terrine and, using your fingers, press it into the bottom, the corners and up the sides of the dish until it comes to the top and hangs over the rim a little.<br><br>\r\n                            Take half the meat mixture and pat it into a shape that will fit the terrine dish, then lay it in. Use your fingers to make a trench down the middle of the meat. Trim the tops and bottoms off the eggs, lay them, in a row, along the trench, then season. Trimming the eggs like this ensures that each slice of pie will contain both egg white and yolk.\r\n                            Take the rest of the meat mixture, pat it out to a rectangle that will fit over the eggs, and press it over the top. Brush the overhang of the pastry with the beaten egg, then roll out the rest of the pastry to fit over the pie.<br><br>\r\n                            Pinch edges together to fix the top. Brush top generously with egg and pierce three holes along the top. Heat oven to 200C/fan 180C/gas 6. Place pie on a baking sheet and bake for 30 mins. Lower the heat to 180C/fan 160C/gas 4, then continue to cook for another hour. Leave to cool. Carefully turn dish upside-down onto a board and use the sides of the paper to pull the pie out of the dish. If sides aren\u2019t brown enough, return it to the oven on a baking tray at 200C/fan 180C/gas 6 until coloured. Cool, then chill in the fridge.<br><br>\r\n                            If you want to fill the pie with jelly, soak the gelatine in cold water and warm the stock until hot, but not simmering. Remove the gelatine from the water and squeeze to remove excess liquid, then stir into the stock to dissolve. Leave to cool to room temperature, then transfer to a squeezy bottle. Pour the jelly into one of the holes until it comes to the top. Place the pie on a dish in the fridge until the jelly has set, then repeat twice more, so the jelly has filled each hole. Leave to set in the fridge overnight."
            }
        }, {
            "pk": 8, 
            "model": "library.recipe", 
            "fields": {
                "difficulty": "M", 
                "dish_type": "Dessert", 
                "name": "Crepes Suzette", 
                "ingredients": "Crepes:<br>\r\n                            2 large eggs<br>\r\n                            3/4 cup all-purpose flour<br>\r\n                            1/2 cup milk<br>\r\n                            1/8 teaspoon salt<br>\r\n                            1/2 teaspoon sugar<br>\r\n                            1/3 cup cold water<br>\r\n                            1 tablespoon canola oil<br>\r\n                            1 tablespoon melted unsalted butter, plus more butter for the skillet<br><br>\r\nOrange Butter:<br>\r\n6 tablespoons unsalted butter, softened, plus more for buttering<br>\r\n1/4 cup plus 2 tablespoons sugar, plus more for sprinkling<br>\r\n2 tablespoons Cognac<br>\r\n1/4 cup Grand Marnier<br>\r\n1 tablespoon finely grated orange zest<br>\r\n1/3 cup fresh orange juice<br>", 
                "region": 9, 
                "time_needed": "45 min", 
                "chef": 11, 
                "image": "/static/recipes/crepes_suzette.jpg", 
                "instructions": "In a medium bowl, whisk together the eggs, flour, milk, salt and sugar until smooth; the batter will be thick. Whisk in the water, oil and melted butter.<br><br>\r\n                            Heat a 6-inch cr\u00eape pan or nonstick skillet and rub with a little butter. Add 2 tablespoons of the batter and tilt the skillet to distribute the batter evenly, pouring any excess batter back into the bowl. Cook over moderately high heat until the edges of the cr\u00eape curl up and start to brown, 45 seconds. Flip the cr\u00eape and cook for 10 seconds longer, until a few brown spots appear on the bottom. Tap the cr\u00eape out onto a baking sheet . Repeat with the remaining batter to make 12 cr\u00eapes, buttering the skillet a few times as necessary.<br><br>\r\n                            In a mini food processor, blend the 6 tablespoons of butter with 1/4 cup of the sugar and the orange zest. With the machine on, gradually add the orange juice until incorporated.<br><br>\r\n                            Preheat the broiler. Butter a large rimmed baking sheet and sprinkle lightly with sugar. Place 2 rounded teaspoons of the orange butter in the center of each cr\u00eape. Fold the cr\u00eapes in half and in half again to form triangles; arrange on the prepared baking sheet, pointing them in the same direction and overlapping slightly. Sprinkle with the remaining 2 tablespoons of sugar and broil on the middle shelf of the oven until they begin to caramelize, about 2 minutes. Using a long spatula, transfer the cr\u00eapes to a heatproof platter.<br><br>\r\n                            Meanwhile, in a small saucepan, heat the Grand Marnier and cognac. Ignite carefully with a long-handled match and pour the flaming mixture over the cr\u00eapes. Tilt the platter and, with a spoon, carefully baste the cr\u00eapes until the flames subside. Serve right away."
            }
        }, {
            "pk": 10, 
            "model": "library.recipe", 
            "fields": {         
                "difficulty": "M", 
                "dish_type": "Entree", 
                "name": "Vegetable Sushi", 
                "ingredients": "For the rice:<br>\r\n                            3 cups short-grain Japanese rice, rinsed<br>\r\n                            1/3 cup rice vinegar<br>\r\n                            3 tablespoons sugar<br>\r\n                            Salt<br><br>\r\n                            For the rolls:<br>\r\n                            10 nori sheets (dried seaweed), halved<br>\r\n                            Sesame seeds, for sprinkling<br>\r\n                            1 cucumber<br>\r\n                            1 avocado<br>\r\n                            1 plum tomato, seeded<br>\r\n                            1 small red onion<br>\r\n                            20 asparagus spears, trimmed and blanched<br>\r\n                            Wasabi paste, for spreading and serving<br>\r\n                            1 romaine lettuce heart<br>\r\n                            Pickled ginger, for serving<br>", 
                "region": 11, 
                "time_needed": "1 hr 20 min", 
                "chef": 13, 
                "image": "/static/recipes/vegetable_sushi.jpg", 
                "instructions": "Make the rice. Combine the rice and 3 1/4 cups water in a rice cooker and cook according to the manufacturer's instructions. A rice cooker is the best way to get perfect sticky-firm rice, but if you don't have one, just use a saucepan.<br><br>\r\n\r\n                            1. Fold in the vinegar. Combine the vinegar, sugar and 1 teaspoon salt in a saucepan over medium heat, stirring to dissolve the sugar. Transfer the cooked rice to a large wooden bowl (traditionally, a wooden tub). Drizzle a quarter of the vinegar mixture over a wooden spoon or spatula onto the rice. Fold the rice gently with the spoon to cool it and break up any clumps; be careful not to smash the grains. Fold in the remaining vinegar mixture and let the rice sit 5 minutes.<br><br>\r\n                            \r\n                            2. Spread the rice. Cover a bamboo sushi mat with plastic wrap. Place a half nori sheet rough-side up on the mat. Moisten your hands and scoop a handful of rice, slightly larger than a lemon, onto the nori. Press the rice to spread it evenly up to the edges of the nori, moistening your fingers as you go. Sprinkle with sesame seeds.<br><br>\r\n                            \r\n                            3. Prepare the vegetables. Peel the cucumber and slice into matchsticks. (Morimoto cuts the entire cucumber into a paper-thin sheet, then quickly slices it into strips-but he's had some practice.) Thinly slice the avocado, tomato and red onion; peel the tough ends of the asparagus.<br><br>\r\n                            \r\n                            4. Add the filling. Carefully flip over the nori so it's rice-side down on the mat with the short end facing you. Spread a bit of wasabi paste in a line about one-third of the way up the nori-it's spicy, so use it sparingly. Arrange a few pieces each of lettuce, cucumber, avocado, tomato and onion in a tight pile in the lower third of the sheet. It's OK if the vegetables hang over the edges of the nori.\r\n                            \r\n                            5. Roll the sushi. Roll the sushi away from you with your hands, tucking in the vegetables as you go. Remove the mat from under the roll and place it on top. Press the roll into a compact rectangular log, using the mat to help you.<br><br>\r\n                            \r\n                            6. Slice the roll. Cut the sushi roll into 4 to 6 pieces. Repeat with the remaining nori, rice and vegetables. Serve with pickled ginger and more wasabi.\""
            }
        }, {
            "pk": 11, 
            "model": "library.recipe", 
            "fields": {
                "difficulty": "E", 
                "dish_type": "Side", 
                "name": "Sparkling White Kimchi", 
                "ingredients": "1 pound napa cabbage\u2014halved, cored and cut into 2-inch pieces<br>\r\n1 tablespoon kosher salt<br>\r\n1 tablespoon rice vinegar<br>\r\n2 scallions, white and tender green parts only, halved lengthwise<br>\r\n1 carrot, very thinly sliced<br>\r\n2 large red chiles, thinly sliced and seeded<br>\r\n1 1/2 cups 7UP or ginger ale<br>\r\n1 bunch of watercress, thick stems discarded", 
                "region": 12, 
                "time_needed": "30 min", 
                "chef": 14, 
                "image": "/static/recipes/sparkling_white_kimchi.jpg", 
                "instructions": "In a bowl, toss the cabbage with the salt and squeeze it to soften slightly. Cover with a small plate and a heavy can and let stand at room temperature for 1 hour.<br><br>\r\nPour off any liquid. Stir in the vinegar, scallions, carrot and chiles. Add the 7UP, cover with plastic wrap and refrigerate overnight. Fold in the watercress just before serving.<br><br>\r\nThe kimchi can be refrigerated for up to 3 days."
            }
        }]

## Recipe [/api/recipe/{PK}]
    Steps of how to make food

###Recipe by name[GET]
+ Parameters
    + PK (required, integer, `1`) ... Numeric PK of the Food to perform action with.

+ Response 200 (application/json)

    + Header

            X-My-Header: The Name

    + Body

            [{ "PK": 0,
            "FK_region" : 0,
            "FK_region" : 0,
            "name": "Southern Fried Chicken", 
            "ingredients": "3 eggs 1/3 cup water
                    About 1 cup hot red pepper sauce (recommended: Texas Pete)
                    2 cups self-rising flour
                    1 teaspoon pepper
                    House seasoning, recipe follows
                    1 (1 to 2 1/2-pound) chicken, cut into pieces
                    Oil, for frying, preferably peanut oil
                    
                    House Seasoning:
                    1 cup salt
                    1/4 cup black pepper
                    1/4 cup garlic powder ", 
            "region": "Southern USA",
            "chef": "Paula Deen",
            "instructions": "1. In a medium size bowl, beat the eggs with the water. Add enough hot sauce so the egg mixture is bright orange. In another bowl, combine the flour and pepper. Season the chicken with the house seasoning. Dip the seasoned chicken in the egg, and then coat well in the flour mixture.
        
                            2. Heat the oil to 350 degrees F in a deep pot. Do not fill the pot more than 1/2 full with oil.
                            
                            3. Fry the chicken in the oil until brown and crisp. Dark meat takes longer then white meat. It should take dark meat about 13 to 14 minutes, white meat around 8 to 10 minutes.
                            
                            4. House Seasoning: Mix ingredients together and store in an airtight container for up to 6 months.",
            "time needed": "1 hour",
            "difficulty": "E",
            "type": "entree"},
            { "PK": 1,
            "FK_region" : 1,
            "FK_region" : 1,
            "name": "Dry-Fried Eggplant", 
            "ingredients": " Vegetable oil, for frying
                            1/2 to 1 teaspoon hot (chinese) chili powder
                            1/2 to 1 teaspoon hot paprika
                            About 6 (1 1/2 pounds total) Chinese (long) eggplants, trimmed, peeled and cut lengthwise into 2- or 3-inch-long, thick "steak" fries (about 8 fries from each eggplant)
                            Water
                            1/2 cup cornstarch
                            Leaves and tender stems from 4 to 6 stems cilantro, coarsely chopped", 
            "instructions": "Heat at least 4 inches of oil in a large, heavy-bottomed pot over medium-high heat until the oil reaches 350 degrees.
                    
                    Place a wire rack over several layers of paper towels.
                    
                    Combine the chili powder and paprika (to taste) in a small bowl.
                    
                    Meanwhile, wet the eggplant fries with a little water. Spread the cornstarch on a rimmed baking sheet.
                    
                    Working in batches, lightly and evenly coat the eggplant fries with the cornstarch, shaking off any excess. Discard any remaining cornstarch.
                    
                    Carefully add about 8 fries at a time to the hot oil; fry for 2 minutes, or until just browned, crisped and tender. Use a Chinese skimmer or slotted spatula to transfer to the rack to drain. Repeat to fry all the eggplant.
                    
                    Transfer the still-warm, crisped eggplant fries to a serving bowl; season with the chili powder-paprika mixture to taste; this dish is supposed 
                    
                    to be spicy, and, if you can stand it, you should use enough of the mixture to color the eggplant fries a reddish-orange. Toss quickly with the cilantro; serve right away.",
            "time needed": "~20 min",
            "difficulty": "E",
            "type": "side"},
            { "PK": 2,
            "FK_region" : 2,
            "FK_chef" : 2,
            "name": "Pico de Gallo", 
            "ingredients": "1 1/2 pounds yellow or red tomatoes, seeded and chopped
                            1 small onion, chopped
                            1/2 cup chopped fresh cilantro leaves
                            3 tablespoons fresh lime juice
                            2 serrano chiles*, seeded and minced
                            Pinch kosher salt and fresh ground black pepper", 
            "instructions": "Add all the ingredients to a medium bowl, and toss to combine.
                            Cover and chill until ready to serve. This salsa can be made 4 hours ahead.",
            "time needed": "40 min",
            "difficulty": "E",
            "type": "side"},
            { "PK": 3,
            "FK_region" : 3,
            "FK_chef" : 3,
            "name": "Beef Goulash", 
            "ingredients": "2 tablespoons extra virgin olive oil
                            4 cups onions, thinly sliced
                            1 tablespoon sugar
                            3 garlic cloves, minced
                            1 tablespoon caraway seeds, toasted and ground
                            1 1/2 tablespoons sweet paprika
                            1 teaspoon spicy paprika
                            2 tablespoons minced fresh marjoram leaves
                            1 teaspoon minced fresh thyme leaves
                            1 bay leaf
                            3 tablespoons tomato paste
                            2 tablespoons balsamic vinegar
                            4 cups chicken stock
                            2 1/2 pounds beef shank, cut into 2-inch cubes
                            1 teaspoon kosher salt
                            1/4 teaspoon freshly ground black pepper
                            Spaetzle, recipe follows
                            Spaetzle:
                            4 egg yolks
                            1 egg
                            1 3/4 cups milk
                            1 pound (about 3 cups) all purpose flour
                            1/4 teaspoon freshly grated nutmeg
                            1 teaspoon salt
                            1/4 teaspoon freshly ground pepper
                            1/2 cup peanut oil
                            Salt
                            Pepper
                            2 ounces unsalted butter", 
            "instructions": "In a large saute pan, heat the olive oil and saute the onions and sugar until caramelized. Add the garlic and caraway seed. 
            
                            Cook for 1 minute. Add the sweet and sharp paprika, marjoram, thyme, and bay leaf. Saute another minute, until fragrant. Add the tomato paste. 
                            
                            Deglaze with the vinegar and the stock and add the pieces of beef shank, salt, and pepper. Bring to a boil, then lower to a simmer and cook until very tender, about 1 1/2 hours, stirring occasionally.

                            Taste and adjust seasoning with salt and pepper. Serve with Spaetzle on the side.
                            
                            Spaetzle:
                            
                            In a small bowl, beat together the egg yolks, egg and milk. In a medium bowl, combine the flour, nutmeg, salt, and pepper.
                            
                            Add the egg mixture to the flour mixture and mix with hand until well blended. Do not overmix at this stage. Cover the bowl and refrigerate. Allow the batter to rest for at least 1 hour.
                            
                            Bring salted water to a boil. Place a perforated hotel pan on top of the pot. Place the batter on the pan and force through the holes to form spaetzle. Cook for 4 to 5 minutes, or until al dente. Transfer cooked spaetzle to a bowl of ice water to shock. When cool to the touch, drain well. Stir in half the oil. (At this point you can cover and refrigerate up to 2 days).
                            
                            Over high heat, place a large saute pan until it gets very hot. Add the remaining 1/4 cup of oil and the boiled spaetzle. Saute until golden. Season, to taste, with salt and pepper. Finish with butter and sprinkle with parsley.",
            "time needed": "4 hr 5 min",
            "difficulty": "H",
            "type": "entree"},
            { "PK": 4,
            "FK_region" : 4,
            "FK_chef" : 4,
            "name": "Chicken Piccata", 
            "ingredients": "2 skinless and boneless chicken breasts, butterflied and then cut in half
                            Sea salt and freshly ground black pepper
                            All-purpose flour, for dredging
                            6 tablespoons unsalted butter
                            5 tablespoons extra-virgin olive oil
                            1/3 cup fresh lemon juice
                            1/2 cup chicken stock
                            1/4 cup brined capers, rinsed
                            1/3 cup fresh parsley, chopped", 
            "instructions": "Season chicken with salt and pepper. Dredge chicken in flour and shake off excess.

                            In a large skillet over medium high heat, melt 2 tablespoons of butter with 3 tablespoons olive oil. When butter and oil start to sizzle, add 2 pieces of chicken and cook for 3 minutes. When chicken is browned, flip and cook other side for 3 minutes. Remove and transfer to plate. Melt 2 more tablespoons butter and add another 2 tablespoons olive oil. When butter and oil start to sizzle, add the other 2 pieces of chicken and brown both sides in same manner. Remove pan from heat and add chicken to the plate.
                            
                            Into the pan add the lemon juice, stock and capers. Return to stove and bring to boil, scraping up brown bits from the pan for extra flavor. Check for seasoning. Return all the chicken to the pan and simmer for 5 minutes. Remove chicken to platter. Add remaining 2 tablespoons butter to sauce and whisk vigorously. Pour sauce over chicken and garnish with parsley.",
            "time needed": "40 min",
            "difficulty": "E",
            "type": "entree"},
            { "PK": 5,
            "FK_region" : 5,
            "FK_chef" : 5,
            "name": "Chicken Tikka Masala", 
            "ingredients": "Marinade:
                            1 cup plain yogurt, whisked until smooth
                            3 tablespoons Ginger-Garlic Paste, recipe follows (or 1 tablespoon grated fresh ginger and 3 cloves garlic put through a garlic press or finely minced)
                            1 teaspoon kosher salt
                            1/2 teaspoon freshly ground black pepper
                            1 pound boneless, skinless chicken thighs, poked with a fork, and cut into large bite-sized chunks
                            Sauce:
                            2 teaspoons olive oil
                            3 tablespoons butter
                            1/3 cup Ginger-Garlic Paste, recipe follows (or 6 cloves garlic and 2-inch thumb ginger minced)
                            2 serrano peppers, minced (seeds removed if you don't want it spicy)
                            2 tablespoons tomato paste
                            1 teaspoon garam masala
                            2 teaspoons paprika
                            8 Roma tomatoes, diced
                            1 1/2 teaspoons kosher salt
                            1 to 2 cups water
                            Oil, for grilling
                            1 tablespoon dried fenugreek leaves (optional)
                            1/2 cup heavy cream
                            Minced fresh cilantro, for garnish
                            Cooked rice, naan, or crusty piece of bread, for serving
                            Ginger-Garlic Paste:
                            1/2 cup cloves garlic, whole
                            1/2 cup fresh ginger, peeled, cut into 1/2-inch slices
                            1/4 cup canola oil", 
            "instructions": "Sauce:
                            For the marinade: In a large bowl, mix together the marinade ingredients. Add the chicken and toss to coat. Marinate at least 30 minutes, or in the refrigerator up to overnight.
                            
                            For the sauce: When you're ready to make the curry, place a large skillet over medium heat and add the olive oil and butter. When the butter has melted, add the Ginger-Garlic Paste and serrano peppers. Saute until lightly browned around the edges. Add the tomato paste and cook until the tomato has darkened in color, about 3 minutes. Add the garam masala and the paprika and saute for about 1 minute to draw out their flavors.
                            
                            Add the tomatoes, salt, and 1 cup water. Bring to a boil, turn down to a simmer, and cook until thickened, about 20 minutes. You may need more water depending on how much liquid the tomatoes give off.
                            
                            Meanwhile, fire up your grill. When it is nice and hot, lightly brush it with oil. Place the chicken on the grill, shaking off some of the excess marinade. Cook until it's charred, about 2 minutes on each side. (Don't worry that the chicken will still be a little uncooked, it finishes cooking in the sauce).
                            
                            Pour the sauce into a blender or food processor, or use an immersion blender, and process until smooth. Pour back into the skillet and bring back up to a boil. Add the chicken and fenugreek leaves, if using. Take the heat down to a simmer and cook for about 10 minutes. Add the cream and stir through. Garnish with minced fresh cilantro, and serve over rice, with naan, or a crusty piece of bread!
                            
                            Ginger-Garlic Paste:
                            Throw the garlic, ginger, and canola oil in a mini-food processor and let it go until it forms a semi-smooth paste. There will still be tiny little pieces in there, but overall, it should resemble a paste.
                            
                            Save what you don't use in a small glass jar. It should last in the fridge for 2 to 3 weeks. It's a delicious addition to marinades, pasta sauces, stir fry sauces, slow-cooker recipes, gravy etc. We always had a jar of this stuff in our fridge growing up.",
            "time needed": "1 hr 25 min",
            "difficulty": "E",
            "type": "entree"},
            { "PK": 6,
            "FK_region" : 6,
            "FK_chef" : 6,
            "name": "Pork and Ham Pie", 
            "ingredients": "6 eggs
                            400g minced pork
                            200g good-quality pork sausagemeat
                            140g cooked ham meat (see know-how), chopped into small chunks
                            small handful sage leaves
                            1 small onion, finely chopped
                            few shakes Tabasco sauce
                            2 leaves gelatine (optional, see Know-how)
                            For the pastry
                            100g lard, plus extra for greasing
                            450g plain flour, plus extra for dusting
                            4 tbsp milk
                            1 egg, beaten", 
            "instructions": "Bring a large pan of salted water to the boil, then boil the eggs for exactly 7½ mins. Cool in cold water, peel and set aside. Tip the pork, sausagemeat, ham, sage and onion into a large bowl. Season generously and add a few shakes of Tabasco. Mix well with your hands until completely combined. Take about 1 tbsp of the mix, shape into a small burger and fry in a pan. Taste for seasoning. Slightly over-seasoned is perfect.
                            Melt a few tbsps lard, brush a 1-litre terrine dish with an even layer of the melted fat, then dust with flour. To make the pastry, tip the flour into a bowl with 2 tsp salt. Put the lard and milk into a pan with 150ml water, then heat until the lard has completely melted. Pour into the flour and beat with a wooden spoon until combined. Tip onto the surface and knead until it all comes together.
                            Cut a piece of baking parchment to fit the bottom and long sides of the terrine dish with some hanging over the edge. Take about two-thirds of the pastry dough and shape it into a rectangle roughly the width and length of the dish. Lay the dough into the terrine and, using your fingers, press it into the bottom, the corners and up the sides of the dish until it comes to the top and hangs over the rim a little.
                            Take half the meat mixture and pat it into a shape that will fit the terrine dish, then lay it in. Use your fingers to make a trench down the middle of the meat. Trim the tops and bottoms off the eggs, lay them, in a row, along the trench, then season. Trimming the eggs like this ensures that each slice of pie will contain both egg white and yolk.
                            Take the rest of the meat mixture, pat it out to a rectangle that will fit over the eggs, and press it over the top. Brush the overhang of the pastry with the beaten egg, then roll out the rest of the pastry to fit over the pie.
                            Pinch edges together to fix the top. Brush top generously with egg and pierce three holes along the top. Heat oven to 200C/fan 180C/gas 6. Place pie on a baking sheet and bake for 30 mins. Lower the heat to 180C/fan 160C/gas 4, then continue to cook for another hour. Leave to cool. Carefully turn dish upside-down onto a board and use the sides of the paper to pull the pie out of the dish. If sides aren’t brown enough, return it to the oven on a baking tray at 200C/fan 180C/gas 6 until coloured. Cool, then chill in the fridge.
                            If you want to fill the pie with jelly, soak the gelatine in cold water and warm the stock until hot, but not simmering. Remove the gelatine from the water and squeeze to remove excess liquid, then stir into the stock to dissolve. Leave to cool to room temperature, then transfer to a squeezy bottle. Pour the jelly into one of the holes until it comes to the top. Place the pie on a dish in the fridge until the jelly has set, then repeat twice more, so the jelly has filled each hole. Leave to set in the fridge overnight.",
            "time needed": "2 hr 45 min",
            "difficulty": "H",
            "type": "entree"},
            { "PK": 7, 
            "FK_region" : 7,
            "FK_chef" : 7,
            "name": "Crepes Suzette", 
            "ingredients": "CRÊPES
                            2 large eggs
                            3/4 cup all-purpose flour
                            1/2 cup milk
                            1/8 teaspoon salt
                            1/2 teaspoon sugar
                            1/3 cup cold water
                            1 tablespoon canola oil
                            1 tablespoon melted unsalted butter, plus more butter for the skillet", 
            "instructions": "In a medium bowl, whisk together the eggs, flour, milk, salt and sugar until smooth; the batter will be thick. Whisk in the water, oil and melted butter.
                            Heat a 6-inch crêpe pan or nonstick skillet and rub with a little butter. Add 2 tablespoons of the batter and tilt the skillet to distribute the batter evenly, pouring any excess batter back into the bowl. Cook over moderately high heat until the edges of the crêpe curl up and start to brown, 45 seconds. Flip the crêpe and cook for 10 seconds longer, until a few brown spots appear on the bottom. Tap the crêpe out onto a baking sheet . Repeat with the remaining batter to make 12 crêpes, buttering the skillet a few times as necessary.
                            In a mini food processor, blend the 6 tablespoons of butter with 1/4 cup of the sugar and the orange zest. With the machine on, gradually add the orange juice until incorporated.
                            Preheat the broiler. Butter a large rimmed baking sheet and sprinkle lightly with sugar. Place 2 rounded teaspoons of the orange butter in the center of each crêpe. Fold the crêpes in half and in half again to form triangles; arrange on the prepared baking sheet, pointing them in the same direction and overlapping slightly. Sprinkle with the remaining 2 tablespoons of sugar and broil on the middle shelf of the oven until they begin to caramelize, about 2 minutes. Using a long spatula, transfer the crêpes to a heatproof platter.
                            Meanwhile, in a small saucepan, heat the Grand Marnier and cognac. Ignite carefully with a long-handled match and pour the flaming mixture over the crêpes. Tilt the platter and, with a spoon, carefully baste the crêpes until the flames subside. Serve right away.",
            "time needed": "45 min",
            "difficulty": "M",
            "type": "dessert"},
            { "PK": 8,
            "FK_region" : 8,
            "FK_chef" : 8,
            "name": "Tzatziki", 
            "ingredients": "1 pound (1 pint) plain yogurt (whole milk or low fat)
                            1 hothouse cucumber, unpeeled and seeded
                            1 tablespoon plus 1/2 teaspoon kosher salt
                            1/2 cup sour cream
                            1 tablespoon Champagne vinegar or white wine vinegar
                            2 tablespoons freshly squeezed lemon juice (1 lemon)
                            1 tablespoon good olive oil
                            1 1/2 teaspoons minced garlic
                            1 1/2 teaspoons minced fresh dill
                            Pinch freshly ground black pepper", 
            "instructions": "Place the yogurt in a cheesecloth or paper towel-lined sieve and set it over a bowl. Grate the cucumber and toss it with 1 tablespoon of kosher salt; place it in another sieve, and set it over another bowl. Place both bowls in the refrigerator for 3 to 4 hours so the yogurt and cucumber can drain.
                            Transfer the thickened yogurt to a large bowl. Squeeze as much liquid from the cucumber as you can and add the cucumber to the yogurt. Mix in the sour cream, vinegar, lemon juice, olive oil, garlic, dill, 1/2 teaspoon salt, and pepper. You can serve it immediately, but I prefer to allow the tzatziki to sit in the refrigerator for a few hours for the flavors to blend. Serve chilled or at room temperature.",
            "time needed": "19 min",
            "difficulty": "E",
            "type": "side"},
            { "PK": 9,
            "FK_region" : 9,
            "FK_chef" : 9,
            "name": "Vegetable Sushi", 
            "ingredients": "For the rice:
                            3 cups short-grain Japanese rice, rinsed
                            1/3 cup rice vinegar
                            3 tablespoons sugar
                            Salt
                            For the rolls:
                            10 nori sheets (dried seaweed), halved
                            Sesame seeds, for sprinkling
                            1 cucumber
                            1 avocado
                            1 plum tomato, seeded
                            1 small red onion
                            20 asparagus spears, trimmed and blanched
                            Wasabi paste, for spreading and serving
                            1 romaine lettuce heart
                            Pickled ginger, for serving", 
            "instructions": "Make the rice. Combine the rice and 3 1/4 cups water in a rice cooker and cook according to the manufacturer's instructions. A rice cooker is the best way to get perfect sticky-firm rice, but if you don't have one, just use a saucepan.

                            1. Fold in the vinegar. Combine the vinegar, sugar and 1 teaspoon salt in a saucepan over medium heat, stirring to dissolve the sugar. Transfer the cooked rice to a large wooden bowl (traditionally, a wooden tub). Drizzle a quarter of the vinegar mixture over a wooden spoon or spatula onto the rice. Fold the rice gently with the spoon to cool it and break up any clumps; be careful not to smash the grains. Fold in the remaining vinegar mixture and let the rice sit 5 minutes.
                            
                            2. Spread the rice. Cover a bamboo sushi mat with plastic wrap. Place a half nori sheet rough-side up on the mat. Moisten your hands and scoop a handful of rice, slightly larger than a lemon, onto the nori. Press the rice to spread it evenly up to the edges of the nori, moistening your fingers as you go. Sprinkle with sesame seeds.
                            
                            3. Prepare the vegetables. Peel the cucumber and slice into matchsticks. (Morimoto cuts the entire cucumber into a paper-thin sheet, then quickly slices it into strips-but he's had some practice.) Thinly slice the avocado, tomato and red onion; peel the tough ends of the asparagus.
                            
                            4. Add the filling. Carefully flip over the nori so it's rice-side down on the mat with the short end facing you. Spread a bit of wasabi paste in a line about one-third of the way up the nori-it's spicy, so use it sparingly. Arrange a few pieces each of lettuce, cucumber, avocado, tomato and onion in a tight pile in the lower third of the sheet. It's OK if the vegetables hang over the edges of the nori.
                            
                            5. Roll the sushi. Roll the sushi away from you with your hands, tucking in the vegetables as you go. Remove the mat from under the roll and place it on top. Press the roll into a compact rectangular log, using the mat to help you.
                            
                            6. Slice the roll. Cut the sushi roll into 4 to 6 pieces. Repeat with the remaining nori, rice and vegetables. Serve with pickled ginger and more wasabi.",
            "time needed": "1 hr 20 min",
            "difficulty": "M",
            "type": "entree"}]
            
# Group Chef

##Chef Collection [/api/chef]
### List all Chefs [GET]
+ Response 200 (application/json)

            [{
                "pk": 1, 
                "model": "library.recipe", 
                "fields": {
                    "difficulty": "H", 
                    "dish_type": "Entree", 
                    "name": "Beef Goulash", 
                    "ingredients": "2 tablespoons extra virgin olive oil<br>\r\n                            4 cups onions, thinly sliced<br>\r\n                            1 tablespoon sugar<br>\r\n                            3 garlic cloves, minced<br>\r\n                            1 tablespoon caraway seeds, toasted and ground<br>\r\n                            1 1/2 tablespoons sweet paprika<br>\r\n                            1 teaspoon spicy paprika<br>\r\n                            2 tablespoons minced fresh marjoram leaves<br>\r\n                            1 teaspoon minced fresh thyme leaves<br>\r\n                            1 bay leaf<br>\r\n                            3 tablespoons tomato paste<br>\r\n                            2 tablespoons balsamic vinegar<br>\r\n                            4 cups chicken stock<br>\r\n                            2 1/2 pounds beef shank, cut into 2-inch cubes<br>\r\n                            1 teaspoon kosher salt<br>\r\n                            1/4 teaspoon freshly ground black pepper<br>\r\n                            Spaetzle, recipe follows<br><br>\r\n                            Spaetzle:<br>\r\n                            4 egg yolks<br>\r\n                            1 egg<br>\r\n                            1 3/4 cups milk<br>\r\n                            1 pound (about 3 cups) all purpose flour<br>\r\n                            1/4 teaspoon freshly grated nutmeg<br>\r\n                            1 teaspoon salt<br>\r\n                            1/4 teaspoon freshly ground pepper<br>\r\n                            1/2 cup peanut oil<br>\r\n                            Salt<br>\r\n                            Pepper<br>\r\n                            2 ounces unsalted butter", 
                    "region": 1, 
                    "time_needed": "4 hr 5 min", 
                    "chef": 1, 
                    "image": "/static/recipes/beef_goulash.jpg", 
                    "instructions": "In a large saute pan, heat the olive oil and saute the onions and sugar until caramelized. Add the garlic and caraway seed. <br><br>\r\n            \r\n                            Cook for 1 minute. Add the sweet and sharp paprika, marjoram, thyme, and bay leaf. Saute another minute, until fragrant. Add the tomato paste. <br><br>\r\n                            \r\n                            Deglaze with the vinegar and the stock and add the pieces of beef shank, salt, and pepper. Bring to a boil, then lower to a simmer and cook until very tender, about 1 1/2 hours, stirring occasionally.<br><br>\r\n\r\n                            Taste and adjust seasoning with salt and pepper. Serve with Spaetzle on the side.<br><br>\r\n                            \r\n                            Spaetzle:<br>\r\n                            \r\n                            In a small bowl, beat together the egg yolks, egg and milk. In a medium bowl, combine the flour, nutmeg, salt, and pepper.<br><br>\r\n                            \r\n                            Add the egg mixture to the flour mixture and mix with hand until well blended. Do not overmix at this stage. Cover the bowl and refrigerate. Allow the batter to rest for at least 1 hour.<br><br>\r\n                            \r\n                            Bring salted water to a boil. Place a perforated hotel pan on top of the pot. Place the batter on the pan and force through the holes to form spaetzle. Cook for 4 to 5 minutes, or until al dente. Transfer cooked spaetzle to a bowl of ice water to shock. When cool to the touch, drain well. Stir in half the oil. (At this point you can cover and refrigerate up to 2 days).<br><br>\r\n                            \r\n                            Over high heat, place a large saute pan until it gets very hot. Add the remaining 1/4 cup of oil and the boiled spaetzle. Saute until golden. Season, to taste, with salt and pepper. Finish with butter and sprinkle with parsley."
                }
            }, {
                "pk": 2, 
                "model": "library.recipe", 
                "fields": {
                    "difficulty": "E", 
                    "dish_type": "entree", 
                    "name": "Southern Fried Chicken", 
                    "ingredients": "3 eggs 1/3 cup water<br>\r\nAbout 1 cup hot red pepper sauce (recommended: Texas Pete)<br>\r\n2 cups self-rising flour<br>\r\n1 teaspoon pepper<br>\r\nHouse seasoning<br>\r\n1 (1 to 2 1/2-pound) chicken, cut into pieces<br>\r\nOil, for frying, preferably peanut oil  <br>     <br>           \r\nHouse Seasoning:<br>\r\n1 cup salt<br>\r\n1/4 cup black pepper<br>\r\n1/4 cup garlic powder ", 
                    "region": 2, 
                    "time_needed": "1 hour", 
                    "chef": 2, 
                    "image": "/static/recipes/southern_fried_chicken.jpeg", 
                    "instructions": "1. In a medium size bowl, beat the eggs with the water. Add enough hot sauce so the egg mixture is bright orange. In another bowl, combine the flour and pepper. Season the chicken with the house seasoning. Dip the seasoned chicken in the egg, and then coat well in the flour mixture.<br><br>\r\n        \r\n2. Heat the oil to 350 degrees F in a deep pot. Do not fill the pot more than 1/2 full with oil.<br><br>\r\n                            \r\n3. Fry the chicken in the oil until brown and crisp. Dark meat takes longer then white meat. It should take dark meat about 13 to 14 minutes, white meat around 8 to 10 minutes.<br><br>\r\n\r\n4. House Seasoning: Mix ingredients together and store in an airtight container for up to 6 months.<br><br>"
                }
            }, {
                "pk": 3, 
                "model": "library.recipe", 
                "fields": {
                    "difficulty": "E", 
                    "dish_type": "Side", 
                    "name": "Dry Fried Eggplant", 
                    "ingredients": " Vegetable oil, for frying<br>\r\n                            1/2 to 1 teaspoon hot (chinese) chili powder<br>\r\n                            1/2 to 1 teaspoon hot paprika<br>\r\n                            About 6 (1 1/2 pounds total) Chinese (long) eggplants, trimmed, peeled and cut lengthwise into 2- or 3-inch-long, thick \"steak\" fries (about 8 fries from each eggplant)<br>\r\n                            Water<br>\r\n                            1/2 cup cornstarch<br>\r\n                            Leaves and tender stems from 4 to 6 stems cilantro, coarsely chopped", 
                    "region": 3, 
                    "time_needed": "20 min", 
                    "chef": 5, 
                    "image": "/static/recipes/dry_fried_eggplant.jpg", 
                    "instructions": "Heat at least 4 inches of oil in a large, heavy-bottomed pot over medium-high heat until the oil reaches 350 degrees.<br><br>\r\n                    \r\n                    Place a wire rack over several layers of paper towels.<br><br>\r\n                    \r\n                    Combine the chili powder and paprika (to taste) in a small bowl.<br><br>\r\n                    \r\n                    Meanwhile, wet the eggplant fries with a little water. Spread the cornstarch on a rimmed baking sheet.<br><br>\r\n                    \r\n                    Working in batches, lightly and evenly coat the eggplant fries with the cornstarch, shaking off any excess. Discard any remaining cornstarch.<br><br>\r\n                    \r\n                    Carefully add about 8 fries at a time to the hot oil; fry for 2 minutes, or until just browned, crisped and tender. Use a Chinese skimmer or slotted spatula to transfer to the rack to drain. Repeat to fry all the eggplant.<br><br>\r\n                    \r\n                    Transfer the still-warm, crisped eggplant fries to a serving bowl; season with the chili powder-paprika mixture to taste; this dish is supposed to be spicy, and, if you can stand it, you should use enough of the mixture to color the eggplant fries a reddish-orange. Toss quickly with the cilantro; serve right away."
                }
            }, {
                "pk": 4, 
                "model": "library.recipe", 
                "fields": {
                    "difficulty": "E", 
                    "dish_type": "Side", 
                    "name": "Pico de Gallo", 
                    "ingredients": "1 1/2 pounds yellow or red tomatoes, seeded and chopped<br>\r\n                            1 small onion, chopped<br>\r\n                            1/2 cup chopped fresh cilantro leaves<br>\r\n                            3 tablespoons fresh lime juice<br>\r\n                            2 serrano chiles*, seeded and minced<br>\r\n                            Pinch kosher salt and fresh ground black pepper<br>", 
                    "region": 4, 
                    "time_needed": "40 min", 
                    "chef": 4, 
                    "image": "/static/recipes/pico_de_gallo.jpeg", 
                    "instructions": "Add all the ingredients to a medium bowl, and toss to combine.<br><br>\r\n                            Cover and chill until ready to serve. This salsa can be made 4 hours ahead."
                }
            }, {
                "pk": 5, 
                "model": "library.recipe", 
                "fields": {
                    "difficulty": "E", 
                    "dish_type": "Entree", 
                    "name": "Chicken Piccata", 
                    "ingredients": "2 skinless and boneless chicken breasts, butterflied and then cut in half<br>\r\n                            Sea salt and freshly ground black pepper<br>\r\n                            All-purpose flour, for dredging<br>\r\n                            6 tablespoons unsalted butter<br>\r\n                            5 tablespoons extra-virgin olive oil<br>\r\n                            1/3 cup fresh lemon juice<br>\r\n                            1/2 cup chicken stock<br>\r\n                            1/4 cup brined capers, rinsed<br>\r\n                            1/3 cup fresh parsley, chopped<br>", 
                    "region": 5, 
                    "time_needed": "40 min", 
                    "chef": 6, 
                    "image": "/static/recipes/chicken_piccata.jpeg", 
                    "instructions": "Season chicken with salt and pepper. Dredge chicken in flour and shake off excess.<br><br>\r\n\r\nIn a large skillet over medium high heat, melt 2 tablespoons of butter with 3 tablespoons olive oil. When butter and oil start to sizzle, add 2 pieces of chicken and cook for 3 minutes. When chicken is browned, flip and cook other side for 3 minutes. Remove and transfer to plate. Melt 2 more tablespoons butter and add another 2 tablespoons olive oil. When butter and oil start to sizzle, add the other 2 pieces of chicken and brown both sides in same manner. Remove pan from heat and add chicken to the plate.<br><br>\r\n\r\nInto the pan add the lemon juice, stock and capers. Return to stove and bring to boil, scraping up brown bits from the pan for extra flavor. Check for seasoning. Return all the chicken to the pan and simmer for 5 minutes. Remove chicken to platter. Add remaining 2 tablespoons butter to sauce and whisk vigorously. Pour sauce over chicken and garnish with parsley.<br><br>"
                }
            }, {
                "pk": 6, 
                "model": "library.recipe", 
                "fields": {             
                    "difficulty": "E", 
                    "dish_type": "Entree", 
                    "name": "Chicken Tikka Masala", 
                    "ingredients": "Marinade:<br>\r\n                            1 cup plain yogurt, whisked until smooth<br>\r\n                            3 tablespoons Ginger-Garlic Paste, recipe follows (or 1 tablespoon grated fresh ginger and 3 cloves garlic put through a garlic press or finely minced)<br>\r\n                            1 teaspoon kosher salt<br>\r\n                            1/2 teaspoon freshly ground black pepper<br>\r\n                            1 pound boneless, skinless chicken thighs, poked with a fork, and cut into large bite-sized chunks<br><br>\r\n                            Sauce:<br>\r\n                            2 teaspoons olive oil<br>\r\n                            3 tablespoons butter<br>\r\n                            1/3 cup Ginger-Garlic Paste, recipe follows (or 6 cloves garlic and 2-inch thumb ginger minced)<br>\r\n                            2 serrano peppers, minced (seeds removed if you don't want it spicy)<br>\r\n                            2 tablespoons tomato paste<br>\r\n                            1 teaspoon garam masala<br>\r\n                            2 teaspoons paprika<br>\r\n                            8 Roma tomatoes, diced<br>\r\n                            1 1/2 teaspoons kosher salt<br>\r\n                            1 to 2 cups water<br>\r\n                            Oil, for grilling<br>\r\n                            1 tablespoon dried fenugreek leaves (optional)<br>\r\n                            1/2 cup heavy cream<br>\r\n                            Minced fresh cilantro, for garnish<br>\r\n                            Cooked rice, naan, or crusty piece of bread, for serving<br><br>\r\n                            Ginger-Garlic Paste:<br>\r\n                            1/2 cup cloves garlic, whole<br>\r\n                            1/2 cup fresh ginger, peeled, cut into 1/2-inch slices<br>\r\n                            1/4 cup canola oil<br>", 
                    "region": 7, 
                    "time_needed": "1 hr 25 min", 
                    "chef": 8, 
                    "image": "/static/recipes/chicken_tikka_masala.jpeg", 
                    "instructions": "                            For the marinade: <br>In a large bowl, mix together the marinade ingredients. Add the chicken and toss to coat. Marinate at least 30 minutes, or in the refrigerator up to overnight.<br><br>\r\n                            \r\n                            For the sauce: <br>When you're ready to make the curry, place a large skillet over medium heat and add the olive oil and butter. When the butter has melted, add the Ginger-Garlic Paste and serrano peppers. Saute until lightly browned around the edges. Add the tomato paste and cook until the tomato has darkened in color, about 3 minutes. Add the garam masala and the paprika and saute for about 1 minute to draw out their flavors.<br><br>\r\n                            \r\n                            Add the tomatoes, salt, and 1 cup water. Bring to a boil, turn down to a simmer, and cook until thickened, about 20 minutes. You may need more water depending on how much liquid the tomatoes give off.<br><br>\r\n                            \r\n                            Meanwhile, fire up your grill. When it is nice and hot, lightly brush it with oil. Place the chicken on the grill, shaking off some of the excess marinade. Cook until it's charred, about 2 minutes on each side. (Don't worry that the chicken will still be a little uncooked, it finishes cooking in the sauce).\r\n                            \r\n                            Pour the sauce into a blender or food processor, or use an immersion blender, and process until smooth. Pour back into the skillet and bring back up to a boil. Add the chicken and fenugreek leaves, if using. Take the heat down to a simmer and cook for about 10 minutes. Add the cream and stir through. Garnish with minced fresh cilantro, and serve over rice, with naan, or a crusty piece of bread!\r\n                            \r\n                            Ginger-Garlic Paste:<br>\r\n                            Throw the garlic, ginger, and canola oil in a mini-food processor and let it go until it forms a semi-smooth paste. There will still be tiny little pieces in there, but overall, it should resemble a paste.<br><br>\r\n                            \r\n                            Save what you don't use in a small glass jar. It should last in the fridge for 2 to 3 weeks. It's a delicious addition to marinades, pasta sauces, stir fry sauces, slow-cooker recipes, gravy etc. We always had a jar of this stuff in our fridge growing up."
                }
            }, {
                "pk": 7, 
                "model": "library.recipe", 
                "fields": {
                    "difficulty": "H", 
                    "dish_type": "Entree", 
                    "name": "Pork and Ham Pie", 
                    "ingredients": "6 eggs<br>\r\n                            400g minced pork<br>\r\n                            200g good-quality pork sausage meat<br>\r\n                            140g cooked ham meat (see know-how), chopped into small chunks<br>\r\n                            small handful sage leaves<br>\r\n                            1 small onion, finely chopped<br>\r\n                            few shakes Tabasco sauce<br>\r\n                            2 leaves gelatine<br><br>\r\n                            For the pastry:<br>\r\n                            100g lard, plus extra for greasing<br>\r\n                            450g plain flour, plus extra for dusting<br>\r\n                            4 tbsp milk<br>\r\n                            1 egg, beaten", 
                    "region": 8, 
                    "time_needed": "2 hr 45 min", 
                    "chef": 9, 
                    "image": "/static/recipes/pork_and_ham_pie.jpg", 
                    "instructions": "Bring a large pan of salted water to the boil, then boil the eggs for exactly 7\u00bd mins. Cool in cold water, peel and set aside. Tip the pork, sausagemeat, ham, sage and onion into a large bowl. Season generously and add a few shakes of Tabasco. Mix well with your hands until completely combined. Take about 1 tbsp of the mix, shape into a small burger and fry in a pan. Taste for seasoning. Slightly over-seasoned is perfect.<br><br>\r\n                            Melt a few tbsps lard, brush a 1-litre terrine dish with an even layer of the melted fat, then dust with flour. To make the pastry, tip the flour into a bowl with 2 tsp salt. Put the lard and milk into a pan with 150ml water, then heat until the lard has completely melted. Pour into the flour and beat with a wooden spoon until combined. Tip onto the surface and knead until it all comes together.<br><br>\r\n                            Cut a piece of baking parchment to fit the bottom and long sides of the terrine dish with some hanging over the edge. Take about two-thirds of the pastry dough and shape it into a rectangle roughly the width and length of the dish. Lay the dough into the terrine and, using your fingers, press it into the bottom, the corners and up the sides of the dish until it comes to the top and hangs over the rim a little.<br><br>\r\n                            Take half the meat mixture and pat it into a shape that will fit the terrine dish, then lay it in. Use your fingers to make a trench down the middle of the meat. Trim the tops and bottoms off the eggs, lay them, in a row, along the trench, then season. Trimming the eggs like this ensures that each slice of pie will contain both egg white and yolk.\r\n                            Take the rest of the meat mixture, pat it out to a rectangle that will fit over the eggs, and press it over the top. Brush the overhang of the pastry with the beaten egg, then roll out the rest of the pastry to fit over the pie.<br><br>\r\n                            Pinch edges together to fix the top. Brush top generously with egg and pierce three holes along the top. Heat oven to 200C/fan 180C/gas 6. Place pie on a baking sheet and bake for 30 mins. Lower the heat to 180C/fan 160C/gas 4, then continue to cook for another hour. Leave to cool. Carefully turn dish upside-down onto a board and use the sides of the paper to pull the pie out of the dish. If sides aren\u2019t brown enough, return it to the oven on a baking tray at 200C/fan 180C/gas 6 until coloured. Cool, then chill in the fridge.<br><br>\r\n                            If you want to fill the pie with jelly, soak the gelatine in cold water and warm the stock until hot, but not simmering. Remove the gelatine from the water and squeeze to remove excess liquid, then stir into the stock to dissolve. Leave to cool to room temperature, then transfer to a squeezy bottle. Pour the jelly into one of the holes until it comes to the top. Place the pie on a dish in the fridge until the jelly has set, then repeat twice more, so the jelly has filled each hole. Leave to set in the fridge overnight."
                }
            }, {
                "pk": 8, 
                "model": "library.recipe", 
                "fields": {
                    "difficulty": "M", 
                    "dish_type": "Dessert", 
                    "name": "Crepes Suzette", 
                    "ingredients": "Crepes:<br>\r\n                            2 large eggs<br>\r\n                            3/4 cup all-purpose flour<br>\r\n                            1/2 cup milk<br>\r\n                            1/8 teaspoon salt<br>\r\n                            1/2 teaspoon sugar<br>\r\n                            1/3 cup cold water<br>\r\n                            1 tablespoon canola oil<br>\r\n                            1 tablespoon melted unsalted butter, plus more butter for the skillet<br><br>\r\nOrange Butter:<br>\r\n6 tablespoons unsalted butter, softened, plus more for buttering<br>\r\n1/4 cup plus 2 tablespoons sugar, plus more for sprinkling<br>\r\n2 tablespoons Cognac<br>\r\n1/4 cup Grand Marnier<br>\r\n1 tablespoon finely grated orange zest<br>\r\n1/3 cup fresh orange juice<br>", 
                    "region": 9, 
                    "time_needed": "45 min", 
                    "chef": 11, 
                    "image": "/static/recipes/crepes_suzette.jpg", 
[...]
