<!DOCTYPE html>
<html>
	<head>
		<title>Gordon Ramsay</title>

	    <!-- Favicon -->
	    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
		<!-- ensures right view version -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		<!-- Custom css -->
        <!--<link rel="stylesheet" type="text/css" href="/static/regionalFoods.css" media="screen">-->
        <link rel="stylesheet" type="text/css" href="/static/background.css" media="screen">

        <!-- scripts -->
        <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	</head>
	<body>

		<div class = "navbar navbar-inverse navbar-static-top">
			<div class = "container">
				<div class = "navbar-header">
					<a href = "/" class = "navbar-brand">Food IDB</a>

					<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
					</button>
				</div>
				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">
						<li><a href = "/">Home</a></li>
						<li class = "active"><a href = "/chefs">Chefs</a></li>
						<li><a href = "/recipes">Recipes</a></li>
						<li><a href = "/regions">Regions</a></li>
						<li><a href = "/about">About</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class = "container">
			<div class = "row">

        		<div class = "col-lg-9" align="center">
        			<div class = "panel panel-default">
        			    <div class = "row">
                			<h2>Gordon Ramsay</h2>
        			        <div class = "col-lg-8">
            			        <div class = "panel-body">
                					<img src = "/static/chefs/gordon_ramsay.jpg" alt="image not found" class = "img-rounded" style ="width: 100%; max-width: 450px"></img>
                				</div>
                			</div>
        			        <div class = "col-lg-4">
            			        <div class = "panel-body">
                                    <h4>Born</h4>
        				            <p>8 November 1966</p>
                                    <h4>Place of birth</h4>
                                    <p>Johnstone, Renfrewshire, Scotland</p>
                                    <h4>Cooking style</h4>
                                    <p>French / Italian / British</p>
        				        </div>
        				    </div>
        				</div>
        				<h3>Bio</h3>
                					<p align = "left">Gordon James Ramsay, Jr. /ˈræm.ziː/, OBE (born 8 November 1966) is a Scottish celebrity chef, restaurateur, and television personality.[1]
                					His restaurants have been awarded 15 Michelin stars in total and currently hold 14.[2][3][4] His signature restaurant, Restaurant Gordon Ramsay in Chelsea,
                					London has held 3 Michelin stars since 2001. Ramsay is known for presenting TV programmes about competitive cookery and food, such as the British series Hell's Kitchen,
                					The F Word, and Ramsay's Kitchen Nightmares, along with the American versions of Hell's Kitchen, Kitchen Nightmares, MasterChef, and Masterchef Junior.</p>

        			</div>
    			</div>
	    		<div class = "col-lg-3" align="left">
    			    <div class="panel panel-default">
    			        <h3>Region</h3>
        			    <div class="panel-body">
        			        <dl>
                            <dt>Great Britain</dt>
                            <dd><a href="/../regions/great_britain.html"><img src="/static/regions/great_britain.jpg" alt="image not found" class="img-rounded" style="width: 100%; max-width: 450px"></a></dd>
                            </dl>
        			    </div>
    			        <h3>Recipes</h3>
        			    <div class="panel-body">
        			     <dl>
                            <dt>Pork and Ham Pie</dt>
                            <dd><a href="/../recipes/pork_and_ham_pie.html"><img src="/static/recipes/pork_and_ham_pie.jpg" alt="image not found" class="img-rounded" style="width: 100%; max-width: 450px"></a></dd>
                            </dl>
        			    </div>
        			</div>
		        </div>
	        </div>
		</div>
		<div class="container">
		    <div class="row">
                <div class="col-lg-8">
                    <div class = "panel panel-default">
    			        <div class = "panel-body">
                    		<!-- 4:3 aspect ratio -->
                            <div class="embed-responsive embed-responsive-4by3">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fETZCWvzkWM"></iframe>
                            </div>
			            </div>
			        </div>
                </div>
                <div class="col-lg-4">
                    <a class="twitter-timeline" href="https://twitter.com/GordonRamsay" data-widget-id="486646395097448448">Tweets by @GordonRamsay</a>
                    <script>
                        /* The bang is to execute an anonymous javascript function. Any unary operator will work as well */
                        !function(d,s,id){
                            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https'; // get first script object and see if our website starts with http or https
                            /* Adds a script with it's source equal to src before the first script tag in the html if a tag with id equal to id not existing */
                            if(!d.getElementById(id)){
                                js=d.createElement(s);
                                js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js,fjs);
                            }
                        }(document,"script","twitter-wjs");
                    </script>
                </div>
		    </div>
		    <div class="row">
		        <div style="margin-bottom:100px"></div>
		    </div>
		</div>









		<div class = "navbar navbar-default navbar-fixed-bottom">
			<div class = "container">
				<p class = "navbar-text pull-left">Site Built By Witty CS Pun</p>

			</div>
		</div>
	</body>

</html>