<!DOCTYPE html>
<html>
	<head>
		<title>Masaharu Morimoto</title>

	    <!-- Favicon -->
	    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
		<!-- ensures right view version -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		<!-- Custom css -->
        <!--<link rel="stylesheet" type="text/css" href="/static/regionalFoods.css" media="screen">-->
        <link rel="stylesheet" type="text/css" href="/static/background.css" media="screen">

        <!-- scripts -->
        <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	</head>
	<body>

		<div class = "navbar navbar-inverse navbar-static-top">
			<div class = "container">
				<div class = "navbar-header">
					<a href = "/" class = "navbar-brand">Food IDB</a>

					<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
					</button>
				</div>
				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">
						<li><a href = "/">Home</a></li>
						<li class = "active"><a href = "/chefs">Chefs</a></li>
						<li><a href = "/recipes">Recipes</a></li>
						<li><a href = "/regions">Regions</a></li>
						<li><a href = "/about">About</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class = "container">
			<div class = "row">

        		<div class = "col-lg-8" align="left">
        			<div class = "panel panel-default">
    			        <div class = "panel-body">
        					<h2>Masaharu Morimoto</h2>
        					<img src = "/static/chefs/masaharu_morimoto_large.jpg" alt="image not found" class = "img-rounded" style ="width: 100%"></img>
        					<h3>Bio</h3>
        					<p>Masaharu Morimoto (森本 正治 Morimoto Masaharu?, born May 26, 1955, in Hiroshima, Japan) is a Japanese chef, best known as an Iron Chef on the Japanese TV cooking
        					show Iron Chef and its spinoff Iron Chef America. He is also known for his unique style of presenting food.
                            Morimoto received practical training in sushi and traditional Kaiseki cuisine in Hiroshima, and opened his own restaurant in that city in 1980.
                            Influenced by Western cooking styles, he decided to sell his restaurant in 1985 to travel around the United States. His travels further influenced his fusion style of cuisine.
                            He established himself in New York City and worked in some of Manhattan's prestigious restaurants, including the dining area for Sony Corporation's executive
                            staff and visiting VIPs, the Sony Club, where he was executive chef, and at the exclusive Japanese restaurant Nobu, where he was head chef.
                            While at Nobu he got his start on the Iron Chef television show. Several months after the weekly run of Iron Chef ended in 1999, he left Nobu, eventually opening his own Morimoto restaurant in Philadelphia in 2001.
                            He now has a Morimoto restaurant in Chelsea in New York City. For this New York City restaurant it has architecturally exposed concrete, a signature element of Tadao Ando’s work, is dramatically visible in a series.
                            Alongside Tadao Ando and collaboration with Goto Design Group, the structural engineers who took on this project was Leslie E.
                            Robertson Associates. Mr. Morimoto also has restaurants in Mumbai and New Delhi, called "Wasabi" and another Morimoto in Boca Raton,
                            Florida. He also partnered with businessmen Paul Ardaji, Jr., and Paul Ardaji, Sr., in an Asian bistro venture called Pauli Moto's; the initial branch opened in Tyson's Corner,
                            Virginia but has since closed.[2] Morimoto also owns Morimoto XEX in Tokyo that has a Teppanyaki and a sushi floor. Morimoto XEX received a Michelin star in the recent Tokyo Michelin Guide.[3]

                            Morimoto currently appears as an Iron Chef in Iron Chef America, a spinoff from the original Japanese Iron Chef series.
                            </p>
        				</div>
        			</div>
    			</div>
	    		<div class = "col-lg-4" align="left">
	    		 	<div class = "panel panel-default">
    			        <div class = "panel-body">
    			            <div class="page-header">
				                <h3>The Chef</h3>
				            </div>
                            <h4>Born</h4>
				            <p>26 May 1955</p>
                            <h4>Place of birth</h4>
                            <p>Hiroshima, Japan</p>
                            <h4>Cooking style</h4>
                            <p>Japanese Fusion</p>
                            <h4>Region</h4>
				            <div class = "list-group">
                                <a href = "/regions/japan" class="list-group-item">
                                    <h5><span class="glyphicon glyphicon-globe"></span> Japan</h5>
                                </a>
				            </div>
                            <h4>Recipes</h4>
				            <div class = "list-group">
                                <a href = "/recipes/vegetable_sushi" class="list-group-item">
                                    <h5><span class="glyphicon glyphicon-cutlery"></span> Vegetable Sushi</h5>
                                </a>
				            </div>
				            <div class = "list-group">
                                <a href = "https://www.youtube.com/watch?v=rMePq9M5q5s" class="list-group-item list-group-item-danger">
                                    <h5><span class="glyphicon glyphicon-play"></span> Tuna Pizza</h5>
                                </a>
				            </div>
				            <div class = "list-group">
                                <a href = "https://www.youtube.com/watch?v=riNpBT3Hi7c" class="list-group-item list-group-item-danger">
                                    <h5><span class="glyphicon glyphicon-play"></span> Tuna Nigiri</h5>
                                </a>
				            </div>
			            </div>
			        </div>
		        </div>
	        </div>
		</div>
		<div class="container">
		    <div class="row">
                <div class="col-lg-8">
                    <div class = "panel panel-default">
    			        <div class = "panel-body">
                    		<!-- 4:3 aspect ratio -->
                            <div class="embed-responsive embed-responsive-4by3">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WmaTpRuQFTE"></iframe>
                            </div>
			            </div>
			        </div>
                </div>
                <div class="col-lg-4">
                    <a class="twitter-timeline"  href="https://twitter.com/chef_morimoto"  data-widget-id="486981525506760704">Tweets by @chef_morimoto</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
		    </div>
		    <div class="row">
		        <div style="margin-bottom:100px"></div>
		    </div>
		</div>









		<div class = "navbar navbar-default navbar-fixed-bottom">
			<div class = "container">
				<p class = "navbar-text pull-left">Site Built By Witty CS Pun</p>

			</div>
		</div>
	</body>

</html>