<!DOCTYPE html>
    <html>
        <head>
        	<title>Great Britain</title>

    	    <!-- Favicon -->
    	    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
            <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    		<!-- ensures right view version -->
    		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    		<!-- Latest compiled and minified CSS -->
    		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    		<!-- Optional theme -->
    		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

            <!-- Custom css -->
            <link rel="stylesheet" type="text/css" href="/static/regionalFoods.css" media="screen">
            <link rel="stylesheet" type="text/css" href="/static/background.css" media="screen">
            <!-- scripts -->
            <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        </head>
        <body>

        	<div class = "navbar navbar-inverse navbar-static-top">
    			<div class = "container">
    				<div class = "navbar-header">
    					<a href = "/" class = "navbar-brand">Food IDB</a>

    					<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
    						<span class = "icon-bar"></span>
    						<span class = "icon-bar"></span>
    						<span class = "icon-bar"></span>
    					</button>
    				</div>
    				<div class = "collapse navbar-collapse navHeaderCollapse">
    					<ul class = "nav navbar-nav navbar-right">
    						<li><a href = "/index">Home</a></li>
    						<li><a href = "/chefs">Chefs</a></li>
    						<li><a href = "/recipes">Recipes</a></li>
    						<li class="active"><a href = "/regions">Regions</a></li>
    						<li><a href = "/about">About</a></li>
    					</ul>
    				</div>
    			</div>
		    </div>

    		<div class = "container">

    			<div class = "row">
            		<div class = "col-lg-8" align="left">
            			<div class = "panel panel-default">
        			        <div class = "panel-body">
            					<h3>Great Britain</h3>
            					<img src = "/static/regions/great_britain_large.jpg" alt="image not found" class = "img-rounded" style ="width: 100%"></img>
            				</div>
            			</div>
        			</div>
        			<div class = "col-lg-4">
        			    <div class="panel panel-default">
        		            <div class="panel-body">
        		                <h3>Food</h3>
        		                <p>British food has traditionally been based on beef, lamb, pork, chicken and fish and generally served with potatoes and one other vegetable. The most common and typical foods eaten in Britain include the sandwich, fish and chips, pies like the cornish pasty, trifle and roasts dinners.</p>
        		            </div>
        		            <div class = "panel-body">
            			        <h4>Chefs</h4>
    				            <div class = "list-group">
                                    <a href = "/chefs/gordon_ramsay" class="list-group-item">
                                        <h5><span class="glyphicon glyphicon-user"></span> Gordon Ramsay</h5>
                                    </a>
    				            </div>
                                <h4>Recipes</h4>
    				            <div class = "list-group">
                                    <a href = "/recipes/pork_and_ham_pie" class="list-group-item">
                                        <h5><span class="glyphicon glyphicon-cutlery"></span> Pork and Ham Pie</h5>
                                    </a>
            		            </div>
            		        </div>
        		        </div>
        			</div>
        		</div>

        		<div class="row">
        		    <div class="col-lg-8">
                        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d4787169.000743072!2d-2.7746001!3d54.13605619999994!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1404943094223' width='600' height='450' frameborder='0' style='border:0'></iframe></div>
        		    </div>
        		</div>

        		<div class="row">
        		    <div class="col-lg-12">
        		        <div style="margin-bottom:100px"></div>
        		    </div>
        		</div>

        	</div>

        	<div class = "navbar navbar-default navbar-fixed-bottom">
			    <div class = "container">
				    <p class = "navbar-text pull-left">Site Built By Witty CS Pun</p>
			    </div>
		    </div>

        </body>
    </html>