<!DOCTYPE html>
<html>
	<head>
		<title>Unagi Roll</title>

	    <!-- Favicon -->
	    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
		<!-- ensures right view version -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		<!-- Custom css -->
        <!--<link rel="stylesheet" type="text/css" href="/static/regionalFoods.css" media="screen">-->
        <link rel="stylesheet" type="text/css" href="/static/background.css" media="screen">

        <!-- scripts -->
        <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	</head>
	<body>

		<div class = "navbar navbar-inverse navbar-static-top">
			<div class = "container">
				<div class = "navbar-header">
					<a href = "/" class = "navbar-brand">Food IDB</a>

					<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
					</button>
				</div>
				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">
						<li><a href = "/">Home</a></li>
						<li><a href = "/chefs">Chefs</a></li>
						<li class = "active"><a href = "/recipes">Recipes</a></li>
						<li><a href = "/regions">Regions</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class = "container">
			<div class = "row">

        		<div class = "col-lg-8" align="left">
        			<div class = "panel panel-default">
    			        <div class = "panel-body">
        					<h2>Unagi Roll</h2>
        					<img src = "/static/recipes/unagi_roll_large.jpg" alt="image not found" class = "img-rounded" style ="width: 100%"></img>
                        </div>
				    </div>
    			</div>
	    		<div class = "col-lg-4" align="left">
	    		 	<div class = "panel panel-default">
    			        <div class = "panel-body">
    			            <div class="page-header">
				                <h3>The Recipe</h3>
				            </div>
				            <h4>Yields</h4>
				            <p>4 servings</p>
                            <h4>Time Needed</h4>
				            <p>24 min</p>
                            <h4>Difficulty</h4>
                            <p>Easy</p></p>
                            <h4>Type of Dish</h4>
                            <p>Entree</p>
                            <h4>Region</h4>
				            <div class = "list-group">
                                <a href = "/regions/japan" class="list-group-item">
                                    <h5><span class="glyphicon glyphicon-globe"></span> Japan</h5>
                                </a>
				            </div>
                            <h4>Chef</h4>
				            <div class = "list-group">
                                <a href = "/chefs/paula_deen" class="list-group-item">
                                    <h5><span class="glyphicon glyphicon-user"></span> Paula Deen</h5>
                                </a>
				            </div>
                        </div>
				    </div>
		        </div>
	        </div>
		</div>
		<div class = "container">
    		<div class = "row">
        		<div class = "col-lg-8" align="left">
            		<div class = "panel panel-default">
        			    <div class = "panel-body">
        			        <h3>Ingredients</h3>
        					<p>8 ounces sushi rice<br>
                                Sushi Su seasoning, recipe follows<br>
                                1 full sheet nori (roasted seaweed)<br>
                                1 -ounce cucumber, julienned<br>
                                1/2 -ounce Kaiware ( daikon sprouts), juilienne<br>
                                4 ounces Unagi (broiled fresh water eel)<br>
                                1 pinch sesame seeds<br>
                                1 ounce Unagi Glaze, recipe follows<br>
                                Gari (pickled ginger), to taste<br>
                                Wasabi (Japanese horseradish), to taste<br>
                                Soy Sauce, to taste<br>
                                Special Equipment: Makisu (bamboo rolling mat)<br><br>
                                Sushi Su seasoning:<br>
                                3 tablespoons sugar<br>
                                1 tablespoon salt<br>
                                1 cup rice vinegar<br>
                                1- ounce sea kelp<br><br>
                                Unagi Glaze:<br>
                                4 ounces sake<br>
                                4 ounces mirin<br>
                                1-ounce sugar<br>
                                1-ounce water<br>
                                1/2-ounce soy sauce
        					<h3>Recipe</h3>
        					<p><b>1.</b> To cook the sushi rice – wash rice well, drain and let stand for 30 minutes in colander. When cooking rice, for 1 cup of rice add just a little less than 1 cup water in a rice cooker. 45 minutes after rice has been started, remove into a big mixing bowl (plastic or wood is best, metal is also OK) to speed the cooling process. Add 1-ounce of sushi su seasoning and mix well into rice. Let stand to cool. Periodically turn your rice to cool evenly. Do this for about 20 to 30 minutes, then cover.</p>
                            <p><b>2.</b> Place a full sheet of nori (rough side up), on the bamboo rolling mat. Cover the whole sheet except for about 7/8-inch at far end with rice, pressing rice with damp hands into an even layer. Sprinkle sesame seeds on rice from left to right. Place bands of Unagi, cucumber, and kaiware sprouts across leading edge of nori. Roll closest edge to you, up and away from you, very carefully tuck in the roll and continue until you reach the bare end, to seal your roll. Make sure when rolling all ingredients are tightly secured, this will help to keep ingredients intact when cutting. Compress the roll with the bamboo mat. You may shape your roll making it slightly oval or squared off. To serve, slice into 12 even slices. Place Unagi glaze on plate or serve as side dish. Fan out sushi on plate, garnish with pickled ginger and wasabi. Serve with soy sauce.</p>
                            <p><b>3.</b> Sushi hints: Nori has 2 sides, 1 rough and 1 smooth and shiny. The rough side holds the rice better and the smooth side is more presentable on the outside. Also, water is your best friend when making sushi. Keep you hands wet when handling rice so the rice will not stick to your hands. This is important when slicing or cutting sushi rolls, keep your knife wet at all times so the knife can glide through the rice.</p>
                            <p><b>4.</b> Sushi Su seasoning: Combine all ingredients in a saucepan. Cook just until sugar completely dissolves. Remove from the heat and cool completely.</p>
                            <p><b>5.</b> Unagi Glaze: Combine all ingredients and set aside.</p>
                        </div>
                	</div>
                </div>
			</div>
		</div>
		<div class="row">
		<div style="margin-bottom:100px"></div>
		</div>









		<div class = "navbar navbar-default navbar-fixed-bottom">
			<div class = "container">
				<p class = "navbar-text pull-left">Site Built By Witty CS Pun</p>

			</div>
		</div>
	</body>

</html>