<!DOCTYPE html>
<html>
	<head>
	    <!-- Favicon -->
	    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

		<title>Food IDB</title>
		<!-- ensures right view version -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" type="text/css" href="/static/regionalFoods.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/static/background.css" media="screen">

        <!-- scripts -->
        <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	</head>
	<body>

		<div class = "navbar navbar-inverse navbar-static-top">
			<div class = "container">
				<div class = "navbar-header">
					<a href = "/" class = "navbar-brand">Food IDB</a>

					<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
					</button>
				</div>

				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">
						<li><a href = "/index">Home</a></li>
						<li><a href = "/chefs">Chefs</a></li>
						<li><a href = "/recipes">Recipes</a></li>
						<li><a href = "/regions">Regions</a></li>
						<li class = "active"><a href = "/about">About</a></li>
					</ul>
				</div>

			</div>

		</div>

		<div class = "container">
			<div class = "row">
				<div class = "col-sm-12" align="left">
					<h3>Citations</h3>
					<h4><b>Chefs</b></h4>
					<h4>Gordon Ramsay</h4>
					<a href ="http://en.wikipedia.org/wiki/Gordon_Ramsay">http://en.wikipedia.org/wiki/Gordon_Ramsay</a>
					<h4>Paula Deen</h4>
					<a href="http://en.wikipedia.org/wiki/Paula_Deen">http://en.wikipedia.org/wiki/Paula_Deen</a>
					<h4>Masaharu Morimoto</h4>
					<a href="http://en.wikipedia.org/wiki/Masaharu_Morimoto">http://en.wikipedia.org/wiki/Masaharu_Morimoto</a>
					<h4>Peter Chang</h4>
					<a href="http://en.wikipedia.org/wiki/Peter_Chang_(chef)">http://en.wikipedia.org/wiki/Peter_Chang_(chef)</a>
					<h4>Wolfgang Puck</h4>
					<a href="http://en.wikipedia.org/wiki/Wolfgang_Puck">http://en.wikipedia.org/wiki/Wolfgang_Puck</a>
					<h4>Marcela Valladolid</h4>
					<a href="http://en.wikipedia.org/wiki/Marcela_Valladolid">http://en.wikipedia.org/wiki/Marcela_Valladolid</a>
					<h4>Giada De Laurentiis</h4>
					<a href="http://en.wikipedia.org/wiki/Giada_De_Laurentiis">http://en.wikipedia.org/wiki/Giada_De_Laurentiis</a>
					<h4>Aarti Sequeira</h4>
					<a href="http://en.wikipedia.org/wiki/Aarti_Sequeira">http://en.wikipedia.org/wiki/Aarti_Sequeira</a>
					<h4>Jacques Pepin</h4>
					<a href="http://en.wikipedia.org/wiki/Jacques_P%C3%A9pin">http://en.wikipedia.org/wiki/Jacques_P%C3%A9pin</a>
					<h4>David Chang</h4>
					<a href="http://en.wikipedia.org/wiki/David_Chang">http://en.wikipedia.org/wiki/David_Chang</a>
					<br><h4><b>Recipes</b></h4>
					<h4>Pork and Ham Pie</h4>
					<a href="http://www.bbcgoodfood.com/recipes/4916/pork-and-ham-pie">http://www.bbcgoodfood.com/recipes/4916/pork-and-ham-pie</a>
					<h4>Southern Fried Chicken</h4>
					<a href="http://www.foodnetwork.com/recipes/paula-deen/southern-fried-chicken-recipe.html">http://www.foodnetwork.com/recipes/paula-deen/southern-fried-chicken-recipe.html</a>
					<h4>Vegetable Sushi</h4>
					<a href="http://www.foodnetwork.com/recipes/masaharu-morimoto/vegetable-sushi-recipe.html">http://www.foodnetwork.com/recipes/masaharu-morimoto/vegetable-sushi-recipe.html</a>
					<h4>Crepes Suzette</h4>
					<a href="http://www.foodandwine.com/recipes/crepes-suzette">http://www.foodandwine.com/recipes/crepes-suzette</a>
					<h4>Chicken Tikka Masala</h4>
					<a href="http://www.foodnetwork.com/recipes/aarti-sequeira/chicken-in-creamy-tomato-curry-chicken-tikka-masala-recipe2.html">http://www.foodnetwork.com/recipes/aarti-sequeira/chicken-in-creamy-tomato-curry-chicken-tikka-masala-recipe2.html</a>
					<h4>Chicken Piccata</h4>
					<a href="http://www.foodnetwork.com/recipes/giada-de-laurentiis/chicken-piccata-recipe2.html">http://www.foodnetwork.com/recipes/giada-de-laurentiis/chicken-piccata-recipe2.html</a>
					<h4>Pico de Gallo</h4>
					<a href="http://www.foodnetwork.com/recipes/marcela-valladolid/pico-de-gallo-recipe.html">http://www.foodnetwork.com/recipes/marcela-valladolid/pico-de-gallo-recipe.html</a>
					<h4>Dry-Fried Eggplant</h4>
					<a href="http://www.washingtonpost.com/pb/recipes/dry-fried-eggplant/12553/">http://www.washingtonpost.com/pb/recipes/dry-fried-eggplant/12553/</a>
					<h4>Beef Goulash</h4>
					<a href="http://www.foodnetwork.com/recipes/wolfgangs-beef-goulash-recipe.html">http://www.foodnetwork.com/recipes/wolfgangs-beef-goulash-recipe.html</a>
					<h4>Sparkling White Kimchi</h4>
					<a href="http://www.foodandwine.com/recipes/sparkling-white-kimchi">http://www.foodandwine.com/recipes/sparkling-white-kimchi</a>
					<br><h4><b>Regions</b></h4>
					<h4>Great Britain</h4>
					<a href="http://resources.woodlands-junior.kent.sch.uk/customs/food.html">http://resources.woodlands-junior.kent.sch.uk/customs/food.html</a>
					<h4>Southern USA</h4>
					<a href="http://en.wikipedia.org/wiki/Cuisine_of_the_Southern_United_States">http://en.wikipedia.org/wiki/Cuisine_of_the_Southern_United_States</a>
					<h4>Japan</h4>
					<a href="http://aussietaste.recipes/category/asian-cuisine/east-asian-cuisine/japanese-cuisine/">http://aussietaste.recipes/category/asian-cuisine/east-asian-cuisine/japanese-cuisine/</a>
					<h4>Korea</h4>
					<a href="http://en.wikipedia.org/wiki/Korean_cuisine">http://en.wikipedia.org/wiki/Korean_cuisine</a>
					<h4>Austria</h4>
					<a href="http://aussietaste.recipes/category/european-cuisine/western-european-cuisine/austrian-cuisine/">http://aussietaste.recipes/category/european-cuisine/western-european-cuisine/austrian-cuisine/</a>
					<h4>China</h4>
					<a href="http://www.foodbycountry.com/Algeria-to-France/China.html">http://www.foodbycountry.com/Algeria-to-France/China.html</a>
					<h4>Mexico</h4>
					<a href="http://en.wikipedia.org/wiki/Mexican_cuisine">http://en.wikipedia.org/wiki/Mexican_cuisine</a>
					<h4>Italy</h4>
					<a href="http://en.wikipedia.org/wiki/Italian_cuisine">http://en.wikipedia.org/wiki/Italian_cuisine</a>
					<h4>India</h4>
					<a href="http://en.wikipedia.org/wiki/Indian_cuisine">http://en.wikipedia.org/wiki/Indian_cuisine</a>
					<h4>France</h4>
					<a href="http://en.wikipedia.org/wiki/French_cuisine">http://en.wikipedia.org/wiki/French_cuisine</a><br></br>
					<h3>Team Witty CS Pun</h3>
					<p></p>James Bradford<br></br>
					<p></p>Jay Aisenbrey<br></br>
					<p></p>Sammi Cooper<br></br>
					<p></p>Binwei Lin<br></br>
					<p></p>Jishen Li<br></br>
					<p></p>Anthony Lopez<br></br>
				</div>
			</div>
			<div class="row">
			    <div style="margin-bottom:100px"></div>
			</div>
		</div>


		<div class = "navbar navbar-default navbar-fixed-bottom" style="height: 28px">
			<div class = "container">
				<p class = "navbar-text pull-left">Site Built By Witty CS Pun</p>
			</div>
		</div>
	</body>

</html>