<!DOCTYPE html>
<html>
	<head>
	    <!-- Favicon -->
	    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

		<title>Food IDB</title>
		<!-- ensures right view version -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">

        <!-- Custom css -->
        <link rel="stylesheet" type="text/css" href="/static/regionalFoods.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/static/background.css" media="screen">

        <!-- scripts -->
        <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>

	</head>
	<body>

		<div class = "navbar navbar-inverse navbar-static-top">
			<div class = "container">
				<div class = "navbar-header">
					<a href = "/" class = "navbar-brand">Food IDB</a>

					<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
					</button>
				</div>

				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">
						<li><a href = "/index">Home</a></li>
						<li><a href = "/chefs">Chefs</a></li>
						<li><a href = "/recipes">Recipes</a></li>
						<li><a href = "/regions">Regions</a></li>
						<li class = "active"><a href = "/about">About</a></li>
					</ul>
				</div>

			</div>

		</div>

		<div class = "container">
			<div class = "row">
				<div class = "col-sm-12" align="left">
				    <h3><i>The Food IDB</i> is a tool with which one may seek knowledge about recipes from around the world, the chefs who have crafted those recipes, and the regions of the world that they represent.</h3><br>

					<h3>Group Members</h3>
					<table class="table table-striped">
					<tr>
                        <th>Name</th>
                        <th>Leader?</th>
                        <th>Responsibilities</th>
                    </tr>
                    <tr>
                        <td>Calvin Aisenbrey</td>
                        <td>IDB1</td>
                        <td>User interface (HTML/CSS/javascript), Search tool, API implementation</td>
                    </tr>
                    <tr>
                        <td>James Bradford</td>
                        <td>IDB2</td>
                        <td>User interface (HTML/CSS), API drafting, Use of '4 is Better Than 6' API (Sochi Olympics site)</td>
                    </tr>
                    <tr>
                        <td>Samantha Cooper</td>
                        <td>IDB3</td>
                        <td>User interface (HTML/CSS), Database schema, Database creation</td>
                    </tr>
                    <tr>
                        <td>Binwei Lin</td>
                        <td></td>
                        <td>Search tool, API drafting</td>
                    </tr>
                    <tr>
                        <td>Jishen Li</td>
                        <td></td>
                        <td>Search tool, API drafting</td>
                    </tr>
                    <tr>
                        <td>Anthony Lopez</td>
                        <td></td>
                        <td>Database population, Use of '4 is Better Than 6' API (Sochi Olympics site)</td>
                    </tr>
                    </table><br>

                    <h3>Tools Used</h3>
                    <li><a href="https://www.pythonanywhere.com">PythonAnywhere</li></a>
                    <li><a href="https://www.djangoproject.com/">Django</li></a>
                    <li><a href="http://getbootstrap.com/">Twitter Bootstrap</li></a>
                    <br>

					<h3>Citations</h3>
					<table class="table table-striped">
					<tr>
                        <th>Page Name</th>
                        <th>Category</th>
                        <th>Link</th>
                    </tr>
                    <tr>
    					<td>Gordon Ramsay</td>
    					<td>Chef</td>
    					<td><a href ="http://en.wikipedia.org/wiki/Gordon_Ramsay">http://en.wikipedia.org/wiki/Gordon_Ramsay</a></td>
    				</tr>
    				<tr>
    					<td>Paula Deen</td>
    					<td>Chef</td>
    					<td><a href="http://en.wikipedia.org/wiki/Paula_Deen">http://en.wikipedia.org/wiki/Paula_Deen</a></td>
    				</tr>
    				<tr>
    					<td>Masaharu Morimoto</td>
    					<td>Chef</td>
    					<td><a href="http://en.wikipedia.org/wiki/Masaharu_Morimoto">http://en.wikipedia.org/wiki/Masaharu_Morimoto</a></td>
    				</tr>
    				<tr>
    					<td>Peter Chang</td>
    					<td>Chef</td>
    					<td><a href="http://en.wikipedia.org/wiki/Peter_Chang_(chef)">http://en.wikipedia.org/wiki/Peter_Chang_(chef)</a></td>
    				</tr>
    				<tr>
    					<td>Wolfgang Puck</td>
    					<td>Chef</td>
    					<td><a href="http://en.wikipedia.org/wiki/Wolfgang_Puck">http://en.wikipedia.org/wiki/Wolfgang_Puck</a></td>
    				</tr>
    				<tr>
    					<td>Marcela Valladolid</td>
    					<td>Chef</td>
    					<td><a href="http://en.wikipedia.org/wiki/Marcela_Valladolid">http://en.wikipedia.org/wiki/Marcela_Valladolid</a></td>
    				</tr>
    				<tr>
    					<td>Giada De Laurentiis</td>
    					<td>Chef</td>
    					<td><a href="http://en.wikipedia.org/wiki/Giada_De_Laurentiis">http://en.wikipedia.org/wiki/Giada_De_Laurentiis</a></td>
    				</tr>
    				<tr>
    					<td>Aarti Sequeira</td>
    					<td>Chef</td>
    					<td><a href="http://en.wikipedia.org/wiki/Aarti_Sequeira">http://en.wikipedia.org/wiki/Aarti_Sequeira</a></td>
    				</tr>
    				<tr>
    					<td>Jacques Pepin</td>
    					<td>Chef</td>
    					<td><a href="http://en.wikipedia.org/wiki/Jacques_P%C3%A9pin">http://en.wikipedia.org/wiki/Jacques_P%C3%A9pin</a></td>
    				</tr>
    				<tr>
    					<td>David Chang</td>
    					<td>Chef</td>
    					<td><a href="http://en.wikipedia.org/wiki/David_Chang">http://en.wikipedia.org/wiki/David_Chang</a></td>
    				</tr>
    				<tr>
    					<td>Pork and Ham Pie</td>
    					<td>Recipe</td>
    					<td><a href="http://www.bbcgoodfood.com/recipes/4916/pork-and-ham-pie">http://www.bbcgoodfood.com/recipes/4916/pork-and-ham-pie</a></td>
    				</tr>
    				<tr>
    					<td>Southern Fried Chicken</td>
    					<td>Recipe</td>
    					<td><a href="http://www.foodnetwork.com/recipes/paula-deen/southern-fried-chicken-recipe.html">http://www.foodnetwork.com/recipes/paula-deen/southern-fried-chicken-recipe.html</a></td>
    				</tr>
    				<tr>
    					<td>Vegetable Sushi</td>
    					<td>Recipe</td>
    					<td><a href="http://www.foodnetwork.com/recipes/masaharu-morimoto/vegetable-sushi-recipe.html">http://www.foodnetwork.com/recipes/masaharu-morimoto/vegetable-sushi-recipe.html</a></td>
    				</tr>
    				<tr>
    					<td>Crepes Suzette</td>
    					<td>Recipe</td>
    					<td><a href="http://www.foodandwine.com/recipes/crepes-suzette">http://www.foodandwine.com/recipes/crepes-suzette</a></td>
    				</tr>
    				<tr>
    					<td>Chicken Tikka Masala</td>
    					<td>Recipe</td>
    					<td><a href="http://www.foodnetwork.com/recipes/aarti-sequeira/chicken-in-creamy-tomato-curry-chicken-tikka-masala-recipe2.html">http://www.foodnetwork.com/recipes/aarti-sequeira/chicken-in-creamy-tomato-curry-chicken-tikka-masala-recipe2.html</a></td>
    				</tr>
    				<tr>
    					<td>Chicken Piccata</td>
    					<td>Recipe</td>
    					<td><a href="http://www.foodnetwork.com/recipes/giada-de-laurentiis/chicken-piccata-recipe2.html">http://www.foodnetwork.com/recipes/giada-de-laurentiis/chicken-piccata-recipe2.html</a></td>
    				</tr>
    				<tr>
    					<td>Pico de Gallo</td>
    					<td>Recipe</td>
    					<td><a href="http://www.foodnetwork.com/recipes/marcela-valladolid/pico-de-gallo-recipe.html">http://www.foodnetwork.com/recipes/marcela-valladolid/pico-de-gallo-recipe.html</a></td>
    				</tr>
    				<tr>
    					<td>Dry-Fried Eggplant</td>
    					<td>Recipe</td>
    					<td><a href="http://www.washingtonpost.com/pb/recipes/dry-fried-eggplant/12553/">http://www.washingtonpost.com/pb/recipes/dry-fried-eggplant/12553/</a></td>
    				</tr>
    				<tr>
    					<td>Beef Goulash</td>
    					<td>Recipe</td>
    					<td><a href="http://www.foodnetwork.com/recipes/wolfgangs-beef-goulash-recipe.html">http://www.foodnetwork.com/recipes/wolfgangs-beef-goulash-recipe.html</a></td>
    				</tr>
    				<tr>
    					<td>Sparkling White Kimchi</td>
    					<td>Recipe</td>
    					<td><a href="http://www.foodandwine.com/recipes/sparkling-white-kimchi">http://www.foodandwine.com/recipes/sparkling-white-kimchi</a></td>
    				</tr>
    				<tr>
    					<td>Great Britain</td>
    					<td>Region</td>
    					<td><a href="http://resources.woodlands-junior.kent.sch.uk/customs/food.html">http://resources.woodlands-junior.kent.sch.uk/customs/food.html</a></td>
    				</tr>
    				<tr>
    					<td>Southern USA</td>
    					<td>Region</td>
    					<td><a href="http://en.wikipedia.org/wiki/Cuisine_of_the_Southern_United_States">http://en.wikipedia.org/wiki/Cuisine_of_the_Southern_United_States</a></td>
    				</tr>
    				<tr>
    					<td>Japan</td>
    					<td>Region</td>
    					<td><a href="http://aussietaste.recipes/category/asian-cuisine/east-asian-cuisine/japanese-cuisine/">http://aussietaste.recipes/category/asian-cuisine/east-asian-cuisine/japanese-cuisine/</a></td>
    				</tr>
    				<tr>
    					<td>Korea</td>
    					<td>Region</td>
    					<td><a href="http://en.wikipedia.org/wiki/Korean_cuisine">http://en.wikipedia.org/wiki/Korean_cuisine</a></td>
    				</tr>
    				<tr>
    					<td>Austria</td>
    					<td>Region</td>
    					<td><a href="http://aussietaste.recipes/category/european-cuisine/western-european-cuisine/austrian-cuisine/">http://aussietaste.recipes/category/european-cuisine/western-european-cuisine/austrian-cuisine/</a></td>
    				</tr>
    				<tr>
    					<td>China</td>
    					<td>Region</td>
    					<td><a href="http://www.foodbycountry.com/Algeria-to-France/China.html">http://www.foodbycountry.com/Algeria-to-France/China.html</a></td>
    				</tr>
    				<tr>
    					<td>Mexico</td>
    					<td>Region</td>
    					<td><a href="http://en.wikipedia.org/wiki/Mexican_cuisine">http://en.wikipedia.org/wiki/Mexican_cuisine</a></td>
    				</tr>
    				<tr>
    					<td>Italy</td>
    					<td>Region</td>
    					<td><a href="http://en.wikipedia.org/wiki/Italian_cuisine">http://en.wikipedia.org/wiki/Italian_cuisine</a></td>
    				</tr>
    				<tr>
    					<td>India</td>
    					<td>Region</td>
    					<td><a href="http://en.wikipedia.org/wiki/Indian_cuisine">http://en.wikipedia.org/wiki/Indian_cuisine</a></td>
    				</tr>
    				<tr>
    					<td>France</td>
    					<td>Region</td>
    					<td><a href="http://en.wikipedia.org/wiki/French_cuisine">http://en.wikipedia.org/wiki/French_cuisine</a></td>
    				</tr>
					</table>
				</div>
			</div>
			<div class="row">
			    <div style="margin-bottom:100px"></div>
			</div>
		</div>


		<div class = "navbar navbar-default navbar-fixed-bottom" style="height: 28px">
			<div class = "container">
				<p class = "navbar-text pull-left">Site Built By Witty CS Pun</p>
			</div>
		</div>
	</body>

</html>