<!DOCTYPE html>
<html>
	<head>
		<title>Recipes</title>

	    <!-- Favicon -->
	    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

		<!-- ensures right view version -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" type="text/css" href="/static/regionalFoods.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/static/background.css" media="screen">

        <!-- scripts -->
        <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</head>
	<body>
	    <style>

	    </style>
		<div class = "navbar navbar-inverse navbar-static-top">
			<div class = "container">
				<div class = "navbar-header">
					<a href = "/" class = "navbar-brand">Food IDB</a>
					<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
					</button>
				</div>

				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">
						<li><a href = "/">Home</a></li>
						<li><a href = "/chefs">Chefs</a></li>
                        <li class = "active"><a href = "/recipes">Recipes</a></li>
						<li><a href = "/regions">Regions</a></li>
						<li><a href = "/about">About</a></li>
					</ul>
				</div>
			</div>
		</div>

        <div class = "container">
			<div class = "row">
				<div class = "col-sm-4" align="center">
				    <h3>Pork and Ham Pie</h3>
				    <a href="/recipes/pork_and_ham_pie.html"><img src = "/static/recipes/pork_and_ham_pie.jpg" alt = "image not found" class = "img-rounded set-width"></img></a>
					<p></p>
				</div>
				<div class = "col-sm-4" align="center">
					<h3>S. Fried Chicken</h3>
					<a href="/recipes/southern_fried_chicken.html"><img src = "/static/recipes/southern_fried_chicken.jpeg" alt = "image not found" class = "img-rounded set-width"></img></a>
					<p></p>
				</div>
				<div class = "col-sm-4" align="center">
				    <h3>Vegetable Sushi</h3>
				    <a href="/recipes/vegetable_sushi"><img src = "/static/recipes/vegetable_sushi.jpg" alt = "image not found" class = "img-rounded set-width"></img></a>
					<p></p>
				</div>
			</div>
			<div class="row">
			    <div class="col-sm-12">

			    </div>
			</div>
		</div>

		<div class = "navbar navbar-default navbar-fixed-bottom" style="height: 28px">
			<div class = "container">
				<p class = "navbar-text pull-left">Site Built By Witty CS Pun</p>
			</div>
		</div>
	</body>

</html>