<!DOCTYPE html>
<html>
	<head>
		<title>{{ recipe_name }}</title>

	    <!-- Favicon -->
	    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
		<!-- ensures right view version -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		<!-- Custom css -->
        <!--<link rel="stylesheet" type="text/css" href="/static/regionalFoods.css" media="screen">-->
        <link rel="stylesheet" type="text/css" href="/static/background.css" media="screen">

        <!-- scripts -->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script>
            var changeHref = function(id){
                var obj = document.getElementById(id);
                var current = obj.getAttribute("href");
                obj.href = current.replace(/\s/g, "_");
            };
        </script>

	</head>
	<body>

		<div class = "navbar navbar-inverse navbar-static-top">
			<div class = "container">
				<div class = "navbar-header">
					<a href = "/" class = "navbar-brand">Food IDB</a>

					<form class="navbar-form navbar-left" role="search" action="/search/search_result" method="get">
            <div class="form-group">
                <input type="text" id="q" name="q" class="form-control" placeholder="">
            </div>
            <button type="submit" class="btn btn-default">Search

            </button>

        </form>

					<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
					</button>
				</div>
				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">
						<li><a href = "/">Home</a></li>
						<li><a href = "/chefs">Chefs</a></li>
						<li class = "active"><a href = "/recipes">Recipes</a></li>
						<li ><a href = "/regions">Regions</a></li>
						<li><a href = "/about">About</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class = "container">
			<div class = "row">

        		<div class = "col-lg-8" align="left">
        			<div class = "panel panel-default">
    			        <div class = "panel-body">
        					<h2>{{ recipe_name }}</h2>
        					<img src = "{{ recipe.image }}" alt="image not found" class = "img-rounded" style ="width: 100%"></img>
                        </div>
				    </div>
    			</div>
	    		<div class = "col-lg-4" align="left">
	    		 	<div class = "panel panel-default">
    			        <div class = "panel-body">
    			            <div class="page-header">
				                <h3>The Recipe</h3>
				            </div>
                            <h4>Time Needed</h4>
				            <p>{{ recipe.time_needed }}</p>
                            <h4>Difficulty</h4>
                            <p>{{ recipe.difficulty }}</p>
                            <h4>Type of Dish</h4>
                            <p>{{ recipe.dish_type }}</p>
                            <h4>Region</h4>
				            <div class = "list-group">
                                <a href = "/regions/{{ recipe.region }}" id="{{ recipe.region }}" class="list-group-item">
                                    <script>changeHref("{{recipe.region}}");</script>
                                    <h5><span class="glyphicon glyphicon-globe" style="margin-right:2ch"></span>{{ recipe.region }}</h5>
                                </a>
				            </div>
                            <h4>Chef</h4>
				            <div class = "list-group">
                                <a href = "/chefs/{{ recipe.chef }}" id="{{recipe.chef}}" class="list-group-item">
                                    <script>changeHref("{{recipe.chef}}");</script>
                                    <h5><span class="glyphicon glyphicon-user" style="margin-right:2ch"></span>{{ recipe.chef }}</h5>
                                </a>
				            </div>
                        </div>
				    </div>
		        </div>
	        </div>
		</div>
		<div class = "container">
    		<div class = "row">
        		<div class = "col-lg-8" align="left">
            		<div class = "panel panel-default">
        			    <div class = "panel-body">
        			        <h3>Ingredients</h3>
            			    <p>{{ recipe.ingredients | safe}}</p>
        					<h3>Recipe</h3>
        					<p>{{ recipe.instructions | safe}}</p>
                        </div>
                	</div>
                </div>
			</div>
		</div>
		<div class="row">
		<div style="margin-bottom:100px"></div>
		</div>









		<div class = "navbar navbar-default navbar-fixed-bottom">
			<div class = "container">
				<p class = "navbar-text pull-left">Site Built By Witty CS Pun</p>

			</div>
		</div>
	</body>

</html>