<!DOCTYPE html>
<html>
	<head>
		<title>Recipes</title>

	    <!-- Favicon -->
	    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

		<!-- ensures right view version -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- Custom css -->
        <link rel="stylesheet" type="text/css" href="/static/regionalFoods.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/static/background.css" media="screen">
        <!-- scripts -->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script>
            var changeHref = function(id){
                var obj = document.getElementById(id);
                var current = obj.getAttribute("href");
                obj.href = current.replace(/\s/g, "_");
            };

        </script>

	</head>
	<body>

		<div class = "navbar navbar-inverse navbar-static-top">
			<div class = "container">
				<div class = "navbar-header">
					<a href = "/" class = "navbar-brand">Food IDB</a>

					<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
					</button>
				</div>
				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">
						<li><a href = "/index">Home</a></li>
						<li><a href = "/chefs">Chefs</a></li>
						<li class = "active"><a href = "/recipes">Recipes</a></li>
						<li><a href = "/regions">Regions</a></li>
						<li><a href = "/about">About</a></li>
						<li><a href = "/sochi">Sochi</a></li>
						<li>
						    <form class="navbar-form navbar-left" role="search" action="/search/search_result" method="get">
                                <div class="form-group">
                                    <input type="text" id="q" name="q" class="form-control" placeholder="">
                                </div>
                                <button type="submit" class="btn btn-default">Search

                                </button>

                            </form>
						</li>
					</ul>
				</div>
			</div>
		</div>


        <!--<div class="container-fluid">-->
        <!--<div class="row-fluid">-->
        <!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->
        <!--    <ol class="carousel-indicators">-->
        <!--        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
        <!--        <li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
        <!--        <li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
        <!--    </ol>-->
        <!--    <div class="carousel-inner">-->
        <!--        <div class="item active">-->
        <!--            Explore Recipes-->
        <!--        </div>-->
        <!--        		{% if recipes_mod %}-->
        <!--        		    {% for recipe_group in recipes_mod %}-->
        <!--            		    <div class="item">-->
        <!--        		        {% for recipe in recipe_group %}-->
        <!--            		            <div class = "col-sm-3" align="center">-->
        <!--                    				<a href="{{recipe.name}}" id="{{recipe.name}}"><img src = "{{ recipe.image }}" alt = "image not found" class = "img-rounded set-width"></img></a>-->
        <!--                					<script>changeHref("{{recipe.name}}");</script>-->
        <!--                    			</div>-->
        <!--                                <div class="carousel-caption">-->
        <!--                                    <h3>{{recipe.name}}</h3>-->
        <!--                                </div>-->
        <!--                        {% endfor %}-->
        <!--                        </div>-->
        <!--                    {% endfor %}-->
        <!--                {% else %}-->
        <!--                <strong>No recipes currently in category.</strong>-->
        <!--                {% endif %}-->
        <!--    </div>-->
        <!--    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
        <!--        <span class="glyphicon glyphicon-chevron-left"></span>-->
        <!--    </a>-->
        <!--    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
        <!--        <span class="glyphicon glyphicon-chevron-right"></span>-->
        <!--    </a>-->
        <!--</div>-->

		<div class = "container">
		    <div class = "row">
    		    {% if recipes %}
    		        {% for recipe in recipes %}
        				<div class = "col-sm-4" align="center">
        					<a href="{{recipe.name}}" id="{{recipe.name}}" style="color: #333333; text-decoration: none">
            					<h4>{{ recipe.name }}</h4>
            					<img src = "{{ recipe.image }}" alt = "image not found" class = "img-rounded set-width"></img>
        					</a>
        					<script>changeHref("{{recipe.name}}");</script>
        				</div>
                    {% endfor %}
                {% else %}
                    <strong>No recipes currently in category.</strong>
                {% endif %}

			</div>

			<div class="row">
			    <div class="col-sm-12" style="margin-bottom:60px">
			    </div>
			</div>
		</div>

		<div class = "navbar navbar-default navbar-fixed-bottom">
			<div class = "container">
				<p class = "navbar-text pull-left">Site Built By Witty CS Pun</p>
			</div>
		</div>
	</body>

</html>